* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none; }

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f9484a;
  background-image: linear-gradient(315deg, #f9484a 0%, #fbd72b 74%); }

/****************NAVBAR de todos las paginas******************************/
.menu-bar {
  background-color: #ebbe9b;
  background-image: linear-gradient(315deg, #ebbe9b 0%, #e7a977 74%); }
  .menu-bar .navbar .navbar-nav .nav-link {
    font-family: 'Baskervville', serif;
    background-color: gray;
    text-align: center;
    color: white; }
    .menu-bar .navbar .navbar-nav .nav-link:hover {
      background-color: red; }
  .menu-bar .navbar .navbar-nav .dropdown:hover .dropdown-menu {
    display: block;
    background-color: gray;
    font-family: 'Baskervville', serif; }
    .menu-bar .navbar .navbar-nav .dropdown:hover .dropdown-menu .dropdown-item {
      color: white;
      text-align: center; }
      .menu-bar .navbar .navbar-nav .dropdown:hover .dropdown-menu .dropdown-item:hover {
        background-color: red; }

/*******************************************************/
/*******************MAIN del index*********************/
.container {
  margin: auto;
  width: 95%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "iframesyImagenesdelgrupo iframesGrupo"; }
  .container .iframesyImagenesdelgrupo {
    padding: 1.2rem;
    grid-area: iframesyImagenesdelgrupo;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10%; }
    .container .iframesyImagenesdelgrupo .imagenesGrupo {
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .container .iframesyImagenesdelgrupo .imagenesGrupo h1 {
        text-align: center;
        font-family: 'Mitr', sans-serif;
        font-size: 2rem; }
      .container .iframesyImagenesdelgrupo .imagenesGrupo .imagenInicio {
        width: 450px;
        height: 335px;
        margin: 5px;
        border-radius: 30px; }
        .container .iframesyImagenesdelgrupo .imagenesGrupo .imagenInicio:hover {
          animation-duration: 3s;
          animation-name: efectoimagenes;
          animation-iteration-count: infinite; }
      .container .iframesyImagenesdelgrupo .imagenesGrupo .imagenInicio2 {
        width: 450px;
        margin: 5px;
        border-radius: 30px;
        /* width: 70%;*/ }
        .container .iframesyImagenesdelgrupo .imagenesGrupo .imagenInicio2:hover {
          animation-duration: 3s;
          animation-name: efectoimagenes;
          animation-iteration-count: infinite; }
    .container .iframesyImagenesdelgrupo .tienda {
      position: relative;
      top: 5%; }
      .container .iframesyImagenesdelgrupo .tienda h3 {
        font-family: 'Oswald', sans-serif;
        font-size: 30px; }
      .container .iframesyImagenesdelgrupo .tienda .boton {
        position: relative;
        left: 20%;
        margin-top: 20px;
        margin-left: 2%;
        width: 200px;
        height: auto;
        height: 30px;
        font-weight: bold;
        cursor: pointer;
        font-size: 15px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        background-color: aquamarine;
        border-radius: 50px; }
  .container .iframesGrupo {
    padding: 1.2rem;
    grid-area: iframesGrupo;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 4.5%;
    bottom: 4%;
    right: 2%;
    width: 90%; }
    .container .iframesGrupo h1 {
      text-align: center;
      font-family: 'Mitr', sans-serif;
      font-size: 2rem; }
    .container .iframesGrupo iframe {
      width: 450px;
      height: 335px;
      margin: 5px;
      border-radius: 30px;
      border: dotted blueviolet 3px; }

/************************++++++++++KEYFRAME MAIN del INDEX+++++++++*****************************************/
@keyframes efectoimagenes {
  0% {
    opacity: 0; }
  50% {
    opacity: 1;
    border: red solid 10px; }
  100% {
    opacity: 0; } }

/*****************************************************************************/
/*******************************************MAIN de la pagina NJPW******************************************/
.empresaTitulos h1 {
  display: flex;
  justify-content: center; }

.containerTitulos {
  margin: auto;
  width: 95%;
  display: grid;
  grid-template-columns: 2fr 2fr 3fr;
  grid-template-rows: auto;
  grid-template-areas: "titulosPrimeracolumna titulosSegundacolumna titulosTerceracolumna"; }
  .containerTitulos .titulosPrimeracolumna {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 40%;
    top: 8%; }
    .containerTitulos .titulosPrimeracolumna .encabezado {
      padding-bottom: 20px;
      position: relative;
      bottom: 2%; }
    .containerTitulos .titulosPrimeracolumna .titulosRetirados h3 {
      position: relative;
      bottom: 22%; }
    .containerTitulos .titulosPrimeracolumna a .iwgpworld {
      width: 310px;
      position: relative;
      bottom: 20%; }
    .containerTitulos .titulosPrimeracolumna a .trofeosRetirados {
      position: relative;
      bottom: 15%; }
    .containerTitulos .titulosPrimeracolumna a .trofeosRetiradosinter {
      position: relative;
      bottom: 5%; }
  .containerTitulos .titulosSegundacolumna {
    width: 40%;
    position: relative;
    bottom: 1.7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 40%;
    top: 7%; }
    .containerTitulos .titulosSegundacolumna .tituloNeverops {
      position: relative;
      top: 5px; }
    .containerTitulos .titulosSegundacolumna .neverOps {
      position: relative;
      bottom: 2px; }
    .containerTitulos .titulosSegundacolumna img {
      width: 400px;
      height: 200px;
      padding: 5px;
      position: relative;
      bottom: 8%; }
  .containerTitulos .titulosTerceracolumna {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 30%;
    top: 8%; }
    .containerTitulos .titulosTerceracolumna img {
      width: 400px;
      height: 200px;
      padding: 5px; }

/************************************************************************/
/*********************Main de la pagina ROH****************************/
.titularRoh {
  display: flex;
  justify-content: center; }

.containerRoh {
  margin: auto;
  width: 95%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "titulosrohPrimeracolumna titulosrohSegundacolumna"; }
  .containerRoh .titulosrohPrimeracolumna {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .containerRoh .titulosrohSegundacolumna {
    display: flex;
    flex-direction: column;
    align-items: center; }

/***************************************************************/
/*************************MAIN de la pagina otras promociones************************/
.titularOtraspromociones {
  display: flex;
  justify-content: center; }

.containerOtraspromociones {
  margin-left: auto;
  width: 100%;
  display: grid;
  position: relative;
  grid-template-columns: 3fr 3fr 3fr;
  grid-template-rows: auto;
  grid-column-gap: 10px;
  grid-template-areas: "titulosOtrosprimeracolumna titulosOtrossegundacolumna titulosOtrosterceracolumna"; }
  .containerOtraspromociones .titulosOtrosprimeracolumna {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50px; }
    .containerOtraspromociones .titulosOtrosprimeracolumna h3 {
      text-align: center; }
  .containerOtraspromociones .titulosOtrossegundacolumna {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50px; }
    .containerOtraspromociones .titulosOtrossegundacolumna h3 {
      text-align: center; }
  .containerOtraspromociones .titulosOtrosterceracolumna {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50px; }
    .containerOtraspromociones .titulosOtrosterceracolumna h3 {
      text-align: center; }

/*******************************************************************************************/
/******************************MAIN la pagina Miembrosactuales y antiguos**********************************************/
.tituloGrupo {
  display: flex;
  justify-content: center; }

.card {
  background-color: black; }
  .card .card-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: white; }

/*******************************************************************************************/
/******************************MAIN la pagina Subgrupos**********************************************/
table tr {
  text-align: center; }
  table tr th {
    text-align: center; }
  table tr .prueba {
    width: 50%; }

audio {
  display: flex;
  justify-content: center; }
  audio::-webkit-media-controls-panel {
    background-color: #56AEFF; }
  audio::-webkit-media-controls-mute-button {
    background-color: #B1D4E0;
    border-radius: 50%; }
  audio::-webkit-media-controls-play-button:hover {
    background-color: rgba(177, 212, 224, 0.7); }

/******************************MAIN la pagina Contacto**********************************************/
.containerContacto {
  margin: auto;
  width: 95%; }
  .containerContacto .tituloContacto {
    display: flex;
    justify-content: center; }

form .form-control {
  margin-bottom: 10px;
  background-color: plum;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.2rem; }

form .opinion {
  background-color: plum;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.2rem; }

form .btn .btn-primary {
  width: 50%; }

/*******************************************************************************************/
/******************************MAIN de la pagina historia**************************************/
.containerHistoria {
  margin: auto;
  width: 95%; }
  .containerHistoria .liderazgoNakamura {
    position: relative;
    top: 2%; }
    .containerHistoria .liderazgoNakamura .parrafos {
      width: 100%;
      height: auto;
      align-items: center;
      justify-content: center;
      /*.traicionWhite {
                 border-radius: 25%;
                 width: 20%;
                 float: right;
                 margin-top: 60px;
             }*/ }
      .containerHistoria .liderazgoNakamura .parrafos h1 {
        text-align: center;
        margin-top: 10px;
        font-size: 33px; }
      .containerHistoria .liderazgoNakamura .parrafos h2 {
        margin-top: 11px;
        margin-left: 10px; }
      .containerHistoria .liderazgoNakamura .parrafos h3 {
        margin-top: 5px;
        margin-left: 10px; }
      .containerHistoria .liderazgoNakamura .parrafos h5 {
        margin-top: 5px;
        margin-left: 10px;
        font-size: 16px;
        font-weight: bold; }
      .containerHistoria .liderazgoNakamura .parrafos p {
        text-align: justify-all;
        margin-top: 10px;
        font-size: 16px;
        margin-left: 10px; }
      .containerHistoria .liderazgoNakamura .parrafos .imagenNakamura {
        border-radius: 25%;
        width: 40%;
        float: right;
        margin-top: 80px; }
      .containerHistoria .liderazgoNakamura .parrafos .liderOkada {
        border-radius: 25%;
        width: 40%;
        float: right;
        margin-top: 60px; }
      .containerHistoria .liderazgoNakamura .parrafos .iframeJaygedo {
        width: 500px;
        height: 270px;
        margin: 5px;
        float: right;
        border-radius: 30px;
        border: dotted blueviolet 3px; }
      .containerHistoria .liderazgoNakamura .parrafos .iframeWill {
        width: 500px;
        height: 270px;
        margin: 5px;
        float: right;
        border-radius: 30px;
        border: dotted blueviolet 3px; }
      .containerHistoria .liderazgoNakamura .parrafos .iframeSHO {
        width: 500px;
        height: 270px;
        position: relative;
        top: 25px;
        float: right;
        border-radius: 30px;
        border: dotted blueviolet 3px; }
      .containerHistoria .liderazgoNakamura .parrafos .iframeBestfriends {
        width: 500px;
        height: 250px;
        position: relative;
        top: 10px;
        float: right;
        border-radius: 30px;
        border: dotted blueviolet 3px; }
      .containerHistoria .liderazgoNakamura .parrafos .divBestfriends {
        position: relative;
        top: 22px; }

/******************************************************************/
/*********************FOOTER de todas las paginas web****************************/
footer {
  background-color: #e7a977;
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  width: 100%;
  padding: 3rem;
  align-items: center;
  position: relative;
  top: 150px; }
  footer .contenedorRedes {
    display: flex;
    align-items: center; }
    footer .contenedorRedes .imagen1 {
      /* margin-top: 10px;*/
      width: 80px; }
    footer .contenedorRedes .imagen2 {
      /*margin-top: 10px;*/
      width: 80px; }

/******************************FIN del FOOTER de todos los HTML*************************************/
@media screen and (max-width: 480px) {
  /****************NAVBAR de todos las paginas******************************/
  .menu-bar {
    width: 600px; }
    .menu-bar .dropdown .dropdown-menu .dropdown-item {
      text-align: center; }
      .menu-bar .dropdown .dropdown-menu .dropdown-item:hover {
        background-color: red; }
  /**********************************************************************/
  /*************Container del INDEX*************************************/
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "iframesyImagenesdelgrupo" "iframesGrupo";
    /************************++++++++++KEYFRAME MAIN del INDEX+++++++++*****************************************/
    /********************+++++++++++++++++++++++++++++++++++++++++++++++*************************/ }
    .container .iframesyImagenesdelgrupo {
      position: relative;
      top: 15%; }
      .container .iframesyImagenesdelgrupo .imagenInicio:hover {
        animation-duration: 3s;
        animation-name: efectoimagenes;
        animation-iteration-count: infinite; }
      .container .iframesyImagenesdelgrupo .imagenInicio2 {
        animation-duration: 3s;
        animation-name: efectoimagenes;
        animation-iteration-count: infinite; }
  @keyframes efectoimagenes {
    0% {
      opacity: 0; }
    50% {
      opacity: 1;
      border: red solid 10px; }
    100% {
      opacity: 0; } }
    .container .iframesGrupo {
      padding: 1.2rem;
      grid-area: iframesGrupo;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      left: 5%;
      width: 90%;
      top: 20%; }
  /**********************************************************/
  /************************************MAIN de la pagina NJPW**********************************/
  .containerTitulos {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "titulosPrimeracolumna" "titulosSegundacolumna" "titulosTerceracolumna";
    position: relative;
    left: 15%; }
    .containerTitulos .empresaTitulos {
      position: relative;
      left: 15%; }
    .containerTitulos .titulosPrimeracolumna {
      position: relative;
      left: 30%;
      top: 15%;
      text-align: center; }
    .containerTitulos .titulosSegundacolumna {
      position: relative;
      left: 30%;
      top: 10%; }
      .containerTitulos .titulosSegundacolumna h1 {
        position: relative;
        bottom: 100%; }
      .containerTitulos .titulosSegundacolumna h3 {
        text-align: center; }
    .containerTitulos .titulosTerceracolumna {
      position: relative;
      left: 30%; }
  /***********************************************************************************************/
  /*******************************MAIN de la pagina ROH******************************/
  .titularRoh {
    display: flex;
    justify-content: center;
    position: relative;
    left: 15%; }
  .containerRoh {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "titulosrohPrimeracolumna" "titulosrohSegundacolumna";
    display: flex;
    flex-direction: column;
    position: relative;
    left: 15%; }
  /***********************************************************************************************/
  /*******************MAIN de la pagina otraspromociones******************************************/
  .titularOtraspromociones {
    display: flex;
    justify-content: center;
    position: relative;
    left: 15%; }
  .containerOtraspromociones {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "titulosOtrosprimeracolumna" "titulosOtrossegundaacolumna" "titulosOtrosterceracolumna";
    display: flex;
    flex-direction: column;
    position: relative;
    left: 15%; }
  /***********************************************************************************************/
  /*******************************MAIN de la pagina Historia**************************************/
  .containerHistoria {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "main" "footer"; }
    .containerHistoria .liderazgoNakamura {
      position: relative;
      top: 130px;
      left: 50px; }
      .containerHistoria .liderazgoNakamura .parrafos {
        display: flex;
        flex-direction: column; }
        .containerHistoria .liderazgoNakamura .parrafos h5 {
          font-weight: bold;
          position: relative;
          top: 10px; }
        .containerHistoria .liderazgoNakamura .parrafos .imagenNakamura {
          position: relative;
          bottom: 70px;
          width: 80%; }
        .containerHistoria .liderazgoNakamura .parrafos .liderOkada {
          position: relative;
          bottom: 50px;
          width: 80%; }
        .containerHistoria .liderazgoNakamura .parrafos .iframeSHO {
          position: relative;
          top: 2px; }
  /************************************************************************************************/
  /**************************MAIN de la pagina miembros actuales y antiguos****************************/
  .tituloGrupo {
    position: relative;
    left: 100px; }
  .card {
    position: relative;
    left: 200px;
    background-color: black; }
    .card .card-title {
      font-size: 1.2rem;
      font-weight: bold; }
  /**************************************************************************************************/
  /**************************MAIN de la pagina subgrupos*********************************/
  table.table-dark.table-striped {
    width: 600px; }
  /**************************************************************************************************/
  /**************************MAIN de la pagina Contacto**********************************************/
  .tituloContacto {
    display: flex;
    justify-content: center;
    position: relative;
    left: 15%; }
  form {
    position: relative;
    right: 10px; }
  /**************************************************************************************************/
  /**********************************FOOTER de todos los html*************************************/
  footer {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 210px;
    width: 600px; }
    footer .contenedorRedes {
      position: relative;
      top: 10px; }
  /***********************************************************************/ }
