* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none; }

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f9484a;
  background-image: linear-gradient(315deg, #f9484a 0%, #fbd72b 74%); }

/****************NAVBAR de todos las paginas******************************/
.menu-bar {
  background-color: #ebbe9b;
  background-image: linear-gradient(315deg, #ebbe9b 0%, #e7a977 74%); }
  .menu-bar .navbar .navbar-nav .nav-link {
    font-family: 'Baskervville', serif;
    background-color: gray;
    text-align: center;
    color: white; }
    .menu-bar .navbar .navbar-nav .nav-link:hover {
      background-color: red; }
  .menu-bar .navbar .navbar-nav .dropdown:hover .dropdown-menu {
    display: block;
    background-color: gray;
    font-family: 'Baskervville', serif; }
    .menu-bar .navbar .navbar-nav .dropdown:hover .dropdown-menu .dropdown-item {
      color: white;
      text-align: center; }
      .menu-bar .navbar .navbar-nav .dropdown:hover .dropdown-menu .dropdown-item:hover {
        background-color: red; }

/*******************************************************/
.bordesiframes, .containerHistoria .acordeonShinsukenakamura .accordion .accordion-body .Nacimiento .imagenNakamura, .containerHistoria .acordeonOkada .accordion .accordion-body .accordionSalida .liderOkada, .containerHistoria .acordeonOkada .accordion .accordion-body .accordionJay .iframeJaygedo, .containerHistoria .acordeonOkada .accordion .accordion-body .accordionWill .iframeWill, .containerHistoria .acordeonOkada .accordion .accordion-body .accordionBestfriends .iframeBestfriends {
  border-radius: 30px;
  border: dotted blueviolet 3px; }

/*******************MAIN del index*********************/
.tituloInicio h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  animation-duration: 3s;
  animation-name: inicio;
  animation-iteration-count: infinite;
  font-family: 'Playfair Display', serif; }

@keyframes inicio {
  0% {
    opacity: 0; }
  50% {
    opacity: 1;
    background-color: aquamarine; }
  100% {
    opacity: 0;
    background-color: tomato; } }

.container {
  margin: auto;
  width: 95%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "iframesyImagenesdelgrupo iframesGrupo"; }
  .container .iframesyImagenesdelgrupo {
    padding: 1.2rem;
    grid-area: iframesyImagenesdelgrupo;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10%; }
    .container .iframesyImagenesdelgrupo .imagenesGrupo {
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .container .iframesyImagenesdelgrupo .imagenesGrupo h2 {
        text-align: center;
        font-family: 'Mitr', sans-serif;
        font-size: 2rem; }
      .container .iframesyImagenesdelgrupo .imagenesGrupo .imagenInicio {
        width: 90%;
        height: 335px;
        margin: 5px;
        border-radius: 30px; }
        .container .iframesyImagenesdelgrupo .imagenesGrupo .imagenInicio:hover {
          animation-duration: 3s;
          animation-name: efectoimagenes;
          animation-iteration-count: infinite; }
      .container .iframesyImagenesdelgrupo .imagenesGrupo .imagenInicio2 {
        width: 90%;
        margin: 5px;
        border-radius: 30px;
        /* width: 70%;*/ }
        .container .iframesyImagenesdelgrupo .imagenesGrupo .imagenInicio2:hover {
          animation-duration: 3s;
          animation-name: efectoimagenes;
          animation-iteration-count: infinite; }
    .container .iframesyImagenesdelgrupo .tienda {
      position: relative;
      top: 5%; }
      .container .iframesyImagenesdelgrupo .tienda h3 {
        font-family: 'Oswald', sans-serif;
        font-size: 30px; }
      .container .iframesyImagenesdelgrupo .tienda .boton {
        position: relative;
        left: 20%;
        margin-top: 20px;
        margin-left: 2%;
        width: 200px;
        height: auto;
        height: 30px;
        font-weight: bold;
        cursor: pointer;
        font-size: 15px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        background-color: aquamarine;
        border-radius: 50px; }
  .container .iframesGrupo {
    padding: 1.2rem;
    grid-area: iframesGrupo;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 4.5%;
    bottom: 4%;
    right: 2%;
    width: 90%; }
    .container .iframesGrupo h2 {
      text-align: center;
      font-family: 'Mitr', sans-serif;
      font-size: 2rem; }
    .container .iframesGrupo iframe {
      width: 450px;
      height: 335px;
      margin: 5px;
      border-radius: 30px;
      border: dotted blueviolet 3px; }

/************************++++++++++KEYFRAME MAIN del INDEX+++++++++*****************************************/
@keyframes efectoimagenes {
  0% {
    opacity: 0; }
  50% {
    opacity: 1;
    border: red solid 10px; }
  100% {
    opacity: 0; } }

/*****************************************************************************/
/*******************************************MAIN de la pagina NJPW******************************************/
main .empresaTitulos h1 {
  display: flex;
  justify-content: center;
  font-size: 5rem;
  font-family: 'Playfair Display', serif; }

main .titulosPrimeracolumna {
  display: flex;
  flex-direction: row;
  margin-left: 15%; }
  main .titulosPrimeracolumna .card {
    background-color: transparent;
    width: 25rem;
    border: transparent; }
    main .titulosPrimeracolumna .card .card-title {
      font-size: 1.2rem;
      font-weight: bold;
      color: black; }

main .titulosSegundacolumna {
  display: flex;
  flex-direction: row;
  margin-left: 15%; }
  main .titulosSegundacolumna .card {
    background-color: transparent;
    width: 25rem;
    border: transparent; }
    main .titulosSegundacolumna .card .card-title {
      font-size: 1.2rem;
      font-weight: bold;
      color: black; }

main .titulosTerceracolumna {
  display: flex;
  flex-direction: row;
  margin-left: 15%; }
  main .titulosTerceracolumna .card {
    background-color: transparent;
    width: 25rem;
    border: transparent; }
    main .titulosTerceracolumna .card .card-title {
      font-size: 1.2rem;
      font-weight: bold;
      color: black; }

main .titulosCuartacolumna {
  display: flex;
  flex-direction: row;
  margin-left: 15%; }
  main .titulosCuartacolumna .card {
    background-color: transparent;
    width: 25rem;
    border: transparent; }
    main .titulosCuartacolumna .card .card-title {
      font-size: 1.2rem;
      font-weight: bold;
      color: black; }

main .titulosQuintacolumna {
  display: flex;
  flex-direction: row;
  margin-left: 15%; }
  main .titulosQuintacolumna .card {
    background-color: transparent;
    width: 25rem;
    border: transparent; }
    main .titulosQuintacolumna .card .card-title {
      font-size: 1.2rem;
      font-weight: bold;
      color: black; }

/************************************************************************/
/*********************Main de la pagina ROH****************************/
main .titularRoh h1 {
  display: flex;
  justify-content: center;
  font-size: 5rem;
  font-family: 'Playfair Display', serif; }

main .titulosrohPrimeracolumna {
  display: flex;
  flex-direction: row;
  margin-left: 15%; }
  main .titulosrohPrimeracolumna .card {
    background-color: transparent;
    border: transparent; }

main .titulosrohSegundacolumna {
  display: flex;
  flex-direction: row;
  margin-left: 15%; }
  main .titulosrohSegundacolumna .card {
    background-color: transparent;
    border: transparent; }

/***************************************************************/
/*************************MAIN de la pagina otras promociones************************/
main .titularOtraspromociones {
  display: flex;
  justify-content: center; }
  main .titularOtraspromociones h1 {
    font-size: 5rem;
    font-family: 'Playfair Display', serif; }

main .titulosOtrosprimeracolumna {
  display: flex;
  flex-direction: row;
  margin-left: 15%; }
  main .titulosOtrosprimeracolumna .card {
    background-color: transparent;
    width: 25rem;
    border: transparent; }

main .titulosOtrossegundacolumna {
  display: flex;
  flex-direction: row;
  margin-left: 15%; }
  main .titulosOtrossegundacolumna .card {
    background-color: transparent;
    width: 25rem;
    border: transparent; }

main .titulosOtrosterceracolumna {
  display: flex;
  flex-direction: row;
  margin-left: 15%; }
  main .titulosOtrosterceracolumna .card {
    background-color: transparent;
    width: 25rem;
    border: transparent; }

/*******************************************************************************************/
/******************************MAIN la pagina Miembros antiguos**********************************************/
main .tituloGrupoantiguo h1 {
  display: flex;
  justify-content: center;
  font-size: 5rem;
  font-family: 'Playfair Display', serif; }

main .accordion .accordion-button {
  background-color: bisque; }
  main .accordion .accordion-button h3 {
    display: flex;
    justify-content: center; }

main .accordion .accordion-body .contenedor {
  display: flex;
  flex-direction: row;
  position: relative;
  left: 20px; }
  main .accordion .accordion-body .contenedor .card {
    background-color: black;
    width: 15rem; }
    main .accordion .accordion-body .contenedor .card .card-title {
      font-size: 1.2rem;
      font-weight: bold;
      color: white; }

main .accordion .accordion-body .contenedor1 {
  display: flex;
  flex-direction: row;
  position: relative;
  left: 20px; }
  main .accordion .accordion-body .contenedor1 .card {
    background-color: black;
    width: 15rem; }
    main .accordion .accordion-body .contenedor1 .card .card-title {
      font-size: 1.2rem;
      font-weight: bold;
      color: white; }

main .accordion .accordion-body .contenedor2 {
  display: flex;
  flex-direction: row;
  position: relative;
  left: 20px; }
  main .accordion .accordion-body .contenedor2 .card {
    background-color: black;
    width: 15rem; }
    main .accordion .accordion-body .contenedor2 .card .card-title {
      font-size: 1.2rem;
      font-weight: bold;
      color: white; }

main .accordion .accordion-body .contenedor3 {
  display: flex;
  flex-direction: row;
  position: relative;
  left: 20px; }
  main .accordion .accordion-body .contenedor3 .card {
    background-color: black;
    width: 15rem; }
    main .accordion .accordion-body .contenedor3 .card .card-title {
      font-size: 1.2rem;
      font-weight: bold;
      color: white; }

/*************************************************************************************************/
/*********************************MAIN de la pagina miembros actuales*******************************/
main .primeraFila {
  display: flex;
  flex-direction: row; }
  main .primeraFila .card {
    background-color: black;
    width: 15rem; }
    main .primeraFila .card .card-title {
      font-size: 1.2rem;
      font-weight: bold;
      color: white; }

main .segundaFila {
  display: flex;
  flex-direction: row; }
  main .segundaFila .card {
    background-color: black;
    width: 15rem; }
    main .segundaFila .card .card-title {
      font-size: 1.2rem;
      font-weight: bold;
      color: white; }

main .terceraFila {
  display: flex;
  flex-direction: row; }
  main .terceraFila .card {
    background-color: black;
    width: 15rem; }
    main .terceraFila .card .card-title {
      font-size: 1.2rem;
      font-weight: bold;
      color: white; }

main .cuartaFila {
  display: flex;
  flex-direction: row;
  width: 15rem; }
  main .cuartaFila .card {
    background-color: black;
    width: 15rem; }
    main .cuartaFila .card .card-title {
      font-size: 1.2rem;
      font-weight: bold;
      color: white; }

main .tituloGrupoactivo h1 {
  display: flex;
  justify-content: center;
  font-size: 5rem;
  font-family: 'Playfair Display', serif; }

main .primeraFila {
  display: flex;
  flex-direction: row;
  position: relative;
  left: 20px; }
  main .primeraFila .card {
    background-color: black;
    width: 25rem; }
    main .primeraFila .card .card-title {
      font-size: 1.2rem;
      font-weight: bold;
      color: white; }

main .segundaFila {
  display: flex;
  flex-direction: row;
  position: relative;
  left: 20px; }
  main .segundaFila .card {
    background-color: black;
    width: 25rem; }
    main .segundaFila .card .card-title {
      font-size: 1.2rem;
      font-weight: bold;
      color: white; }

main .terceraFila {
  display: flex;
  flex-direction: row;
  position: relative;
  left: 20px; }
  main .terceraFila .card {
    background-color: black;
    width: 25rem; }
    main .terceraFila .card .card-title {
      font-size: 1.2rem;
      font-weight: bold;
      color: white; }

main .cuartaFila {
  display: flex;
  flex-direction: row;
  position: relative;
  left: 20px; }
  main .cuartaFila .card {
    background-color: black;
    width: 25rem; }
    main .cuartaFila .card .card-title {
      font-size: 1.2rem;
      font-weight: bold;
      color: white; }

/***************************************************************************************************/
/*******************************************************************************************/
/******************************MAIN la pagina Subgrupos**********************************************/
main .tituloSubgrupo h1 {
  display: flex;
  justify-content: center;
  font-size: 5rem;
  font-family: 'Playfair Display', serif; }

table tr {
  text-align: center; }
  table tr th {
    text-align: center; }
  table tr .prueba {
    width: 50%; }

audio {
  display: flex;
  justify-content: center; }
  audio::-webkit-media-controls-panel {
    background-color: #56AEFF; }
  audio::-webkit-media-controls-mute-button {
    background-color: #B1D4E0;
    border-radius: 50%; }
  audio::-webkit-media-controls-play-button:hover {
    background-color: rgba(177, 212, 224, 0.7); }

/******************************MAIN la pagina Contacto**********************************************/
.containerContacto {
  margin: auto;
  width: 95%; }
  .containerContacto .tituloContacto {
    display: flex;
    justify-content: center;
    font-size: 5rem;
    font-family: 'Playfair Display', serif; }
  .containerContacto .container form .form-control {
    margin-bottom: 10px;
    background-color: plum;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.2rem; }
  .containerContacto .container form .opinion {
    background-color: plum;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.2rem; }
  .containerContacto .container form .btn .btn-primary {
    width: 50%; }

/*******************************************************************************************/
/******************************MAIN de la pagina historia**************************************/
.tituloHistoria h1 {
  display: flex;
  justify-content: center;
  font-size: 5rem;
  font-family: 'Playfair Display', serif; }

.containerHistoria {
  margin: auto;
  width: 95%; }
  .containerHistoria .acordeonShinsukenakamura .accordion .accordion-button {
    background-color: bisque; }
    .containerHistoria .acordeonShinsukenakamura .accordion .accordion-button h3 {
      display: flex;
      justify-content: center; }
  .containerHistoria .acordeonShinsukenakamura .accordion .accordion-body {
    background-color: #B1D4E0; }
    .containerHistoria .acordeonShinsukenakamura .accordion .accordion-body .Nacimiento .imagenNakamura {
      border-radius: 25%;
      width: 40%;
      float: right;
      margin-top: 50px;
      margin-left: 5px; }
  .containerHistoria .acordeonOkada .accordion .accordion-button {
    background-color: bisque; }
    .containerHistoria .acordeonOkada .accordion .accordion-button h3 {
      display: flex;
      justify-content: center; }
  .containerHistoria .acordeonOkada .accordion .accordion-body {
    background-color: #B1D4E0; }
    .containerHistoria .acordeonOkada .accordion .accordion-body .accordionSalida .liderOkada {
      border-radius: 25%;
      width: 40%;
      float: right;
      margin-top: 60px; }
    .containerHistoria .acordeonOkada .accordion .accordion-body .accordionJay .iframeJaygedo {
      width: 500px;
      height: 270px;
      margin: 5px;
      float: right; }
    .containerHistoria .acordeonOkada .accordion .accordion-body .accordionWill .iframeWill {
      width: 500px;
      height: 270px;
      margin: 5px;
      float: right;
      position: relative;
      bottom: 15px; }
    .containerHistoria .acordeonOkada .accordion .accordion-body .accordionBestfriends {
      height: 300px; }
      .containerHistoria .acordeonOkada .accordion .accordion-body .accordionBestfriends .iframeBestfriends {
        width: 500px;
        height: 270px;
        margin: 5px;
        float: right; }

/******************************************************************/
/*********************FOOTER de todas las paginas web****************************/
footer {
  background-color: #e7a977;
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  width: 100%;
  padding: 3rem;
  align-items: center;
  position: relative;
  top: 150px; }
  footer .contenedorRedes {
    display: flex;
    align-items: center; }
    footer .contenedorRedes .face {
      margin: 0 30px; }
      footer .contenedorRedes .face .imagen1 {
        width: 80px; }
    footer .contenedorRedes .twitter .imagen2 {
      width: 80px; }

/******************************FIN del FOOTER de todos los HTML*************************************/
@media screen and (max-width: 480px) {
  /****************NAVBAR de todos las paginas******************************/
  .menu-bar {
    width: 179%; }
    .menu-bar .navbar .navbar-nav .nav-link {
      font-size: 2rem; }
    .menu-bar .dropdown .dropdown-menu .dropdown-item {
      text-align: center;
      font-size: 2rem; }
      .menu-bar .dropdown .dropdown-menu .dropdown-item:hover {
        background-color: red; }
  /**********************************************************************/
  /*************Container del INDEX*************************************/
  .tituloInicio h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-family: 'Playfair Display', serif;
    position: relative;
    left: 50%; }
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "iframesyImagenesdelgrupo" "iframesGrupo";
    /************************++++++++++KEYFRAME MAIN del INDEX+++++++++*****************************************/
    /********************+++++++++++++++++++++++++++++++++++++++++++++++*************************/ }
    .container .iframesyImagenesdelgrupo {
      position: relative;
      top: 15%;
      left: 40%;
      grid-area: iframesyImagenesdelgrupo; }
      .container .iframesyImagenesdelgrupo .imagenesGrupo .imagenInicio {
        width: 100%;
        height: 335px; }
        .container .iframesyImagenesdelgrupo .imagenesGrupo .imagenInicio:hover {
          animation-duration: 3s;
          animation-name: efectoimagenes;
          animation-iteration-count: infinite; }
      .container .iframesyImagenesdelgrupo .imagenesGrupo .imagenInicio2 {
        width: 100%;
        height: 335px; }
        .container .iframesyImagenesdelgrupo .imagenesGrupo .imagenInicio2:hover {
          animation-duration: 3s;
          animation-name: efectoimagenes;
          animation-iteration-count: infinite; }
  @keyframes efectoimagenes {
    0% {
      opacity: 0; }
    50% {
      opacity: 1;
      border: red solid 10px; }
    100% {
      opacity: 0; } }
    .container .iframesGrupo {
      padding: 1.2rem;
      grid-area: iframesGrupo;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      left: 40%;
      width: 90%;
      top: 20%; }
  /**********************************************************/
  /************************************MAIN de la pagina NJPW**********************************/
  main .empresaTitulos h1 {
    position: relative;
    left: 40%;
    font-size: 3rem; }
  main .titulosPrimeracolumna {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 40%; }
    main .titulosPrimeracolumna .card {
      border: transparent; }
      main .titulosPrimeracolumna .card img:hover {
        animation-duration: 3s;
        animation-name: efectoimagenestrofeos;
        animation-iteration-count: infinite; }
      main .titulosPrimeracolumna .card .card-title {
        font-size: 2rem; }
      main .titulosPrimeracolumna .card .btn-primary {
        width: 50%;
        font-size: 2rem; }
  main .titulosSegundacolumna {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 40%; }
    main .titulosSegundacolumna .card {
      border: transparent; }
      main .titulosSegundacolumna .card img:hover {
        animation-duration: 3s;
        animation-name: efectoimagenestrofeos;
        animation-iteration-count: infinite; }
      main .titulosSegundacolumna .card .card-title {
        font-size: 2rem; }
      main .titulosSegundacolumna .card .btn-primary {
        width: 50%;
        font-size: 2rem; }
  main .titulosTerceracolumna {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 40%; }
    main .titulosTerceracolumna .card {
      border: transparent; }
      main .titulosTerceracolumna .card img:hover {
        animation-duration: 3s;
        animation-name: efectoimagenestrofeos;
        animation-iteration-count: infinite; }
      main .titulosTerceracolumna .card .card-title {
        font-size: 2rem; }
      main .titulosTerceracolumna .card .btn-primary {
        width: 50%;
        font-size: 2rem; }
  main .titulosCuartacolumna {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 40%; }
    main .titulosCuartacolumna .card {
      border: transparent; }
      main .titulosCuartacolumna .card img:hover {
        animation-duration: 3s;
        animation-name: efectoimagenestrofeos;
        animation-iteration-count: infinite; }
      main .titulosCuartacolumna .card .card-title {
        font-size: 2rem; }
      main .titulosCuartacolumna .card .btn-primary {
        width: 50%;
        font-size: 2rem; }
  main .titulosQuintacolumna {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 40%; }
    main .titulosQuintacolumna .card {
      border: transparent; }
      main .titulosQuintacolumna .card img:hover {
        animation-duration: 3s;
        animation-name: efectoimagenestrofeos;
        animation-iteration-count: infinite; }
      main .titulosQuintacolumna .card .card-title {
        font-size: 2rem; }
      main .titulosQuintacolumna .card .btn-primary {
        width: 50%;
        font-size: 2rem; }
  /***********************************************************************************************/
  /*******************************MAIN de la pagina ROH******************************/
  main .titularRoh {
    display: flex;
    justify-content: center;
    position: relative;
    left: 40%;
    font-size: 3rem; }
  main .titulosrohPrimeracolumna {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 40%; }
    main .titulosrohPrimeracolumna .card {
      border: transparent; }
      main .titulosrohPrimeracolumna .card img:hover {
        animation-duration: 3s;
        animation-name: efectoimagenestrofeos;
        animation-iteration-count: infinite; }
      main .titulosrohPrimeracolumna .card .card-title {
        font-size: 2rem; }
      main .titulosrohPrimeracolumna .card .btn-primary {
        width: 50%;
        font-size: 2rem; }
  main .titulosrohSegundacolumna {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 40%; }
    main .titulosrohSegundacolumna .card {
      border: transparent; }
      main .titulosrohSegundacolumna .card img:hover {
        animation-duration: 3s;
        animation-name: efectoimagenestrofeos;
        animation-iteration-count: infinite; }
      main .titulosrohSegundacolumna .card .card-title {
        font-size: 2rem; }
      main .titulosrohSegundacolumna .card .btn-primary {
        width: 50%;
        font-size: 2rem; }
  /***********************************************************************************************/
  /*******************MAIN de la pagina otraspromociones******************************************/
  main .titularOtraspromociones {
    display: flex;
    justify-content: center;
    position: relative;
    left: 40%;
    text-align: center;
    font-size: 3rem; }
  main .titulosOtrosprimeracolumna {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 40%; }
    main .titulosOtrosprimeracolumna .card {
      border: transparent; }
      main .titulosOtrosprimeracolumna .card img:hover {
        animation-duration: 3s;
        animation-name: efectoimagenestrofeos;
        animation-iteration-count: infinite; }
      main .titulosOtrosprimeracolumna .card .card-title {
        font-size: 2rem; }
      main .titulosOtrosprimeracolumna .card .btn-primary {
        width: 50%;
        font-size: 2rem; }
  main .titulosOtrossegundacolumna {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 40%; }
    main .titulosOtrossegundacolumna .card {
      border: transparent; }
      main .titulosOtrossegundacolumna .card img:hover {
        animation-duration: 3s;
        animation-name: efectoimagenestrofeos;
        animation-iteration-count: infinite; }
      main .titulosOtrossegundacolumna .card .card-title {
        font-size: 2rem; }
      main .titulosOtrossegundacolumna .card .btn-primary {
        width: 50%;
        font-size: 2rem; }
  main .titulosOtrosterceracolumna {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 40%; }
    main .titulosOtrosterceracolumna .card {
      border: transparent; }
      main .titulosOtrosterceracolumna .card img:hover {
        animation-duration: 3s;
        animation-name: efectoimagenestrofeos;
        animation-iteration-count: infinite; }
      main .titulosOtrosterceracolumna .card .card-title {
        font-size: 2rem; }
      main .titulosOtrosterceracolumna .card .btn-primary {
        width: 50%;
        font-size: 2rem; }
  @keyframes efectoimagenestrofeos {
    0% {
      opacity: 0; }
    50% {
      opacity: 1;
      border: #62c4c7 solid 10px; }
    100% {
      opacity: 0; } }
  /***********************************************************************************************/
  /*******************************MAIN de la pagina Historia**************************************/
  .tituloHistoria {
    display: flex;
    justify-content: center;
    position: relative;
    left: 40%;
    text-align: center;
    font-size: 3rem; }
  .containerHistoria {
    position: relative;
    left: 50px; }
    .containerHistoria p {
      font-size: 1.5rem; }
    .containerHistoria .acordeonShinsukenakamura .accordion {
      width: 45rem; }
      .containerHistoria .acordeonShinsukenakamura .accordion .accordion-body .Nacimiento .imagenNakamura {
        width: 100%;
        position: relative;
        bottom: 50px;
        float: none; }
    .containerHistoria .acordeonOkada .accordion {
      width: 45rem; }
      .containerHistoria .acordeonOkada .accordion .accordion-body .Nacimiento .imagenNakamura {
        width: 100%;
        position: relative;
        bottom: 50px;
        float: none; }
      .containerHistoria .acordeonOkada .accordion .accordion-body .accordionSalida .liderOkada {
        width: 100%;
        position: relative;
        bottom: 50px;
        float: none; }
      .containerHistoria .acordeonOkada .accordion .accordion-body .accordionJay .iframeJaygedo {
        width: 100%;
        margin-bottom: 30px;
        height: 335px; }
      .containerHistoria .acordeonOkada .accordion .accordion-body .accordionWill .iframeWill {
        width: 100%;
        margin-bottom: 30px;
        height: 335px; }
      .containerHistoria .acordeonOkada .accordion .accordion-body .accordionBestfriends {
        height: 500px; }
        .containerHistoria .acordeonOkada .accordion .accordion-body .accordionBestfriends .iframeBestfriends {
          width: 100%;
          margin-bottom: 30px;
          height: 200px; }
  /************************************************************************************************/
  /**************************MAIN de la pagina miembrosantiguos****************************/
  main .tituloGrupoantiguo {
    display: inline;
    margin: 0; }
    main .tituloGrupoantiguo h1 {
      font-size: 3rem;
      font-family: 'Playfair Display', serif;
      position: relative;
      left: 40%;
      text-align: center; }
  main .accordion {
    position: relative;
    left: 40%; }
    main .accordion .accordion-body .contenedor {
      display: flex;
      flex-direction: column;
      align-items: center; }
      main .accordion .accordion-body .contenedor .card {
        width: 20rem; }
        main .accordion .accordion-body .contenedor .card .card-title {
          font-size: 2rem; }
        main .accordion .accordion-body .contenedor .card .btn-primary {
          width: 50%;
          font-size: 2rem; }
    main .accordion .accordion-body .contenedor1 {
      display: flex;
      flex-direction: column;
      align-items: center; }
      main .accordion .accordion-body .contenedor1 .card {
        width: 20rem; }
        main .accordion .accordion-body .contenedor1 .card .card-title {
          font-size: 2rem; }
        main .accordion .accordion-body .contenedor1 .card .btn-primary {
          width: 50%;
          font-size: 2rem; }
    main .accordion .accordion-body .contenedor2 {
      display: flex;
      flex-direction: column;
      align-items: center; }
      main .accordion .accordion-body .contenedor2 .card {
        width: 20rem; }
        main .accordion .accordion-body .contenedor2 .card .card-title {
          font-size: 2rem; }
        main .accordion .accordion-body .contenedor2 .card .btn-primary {
          width: 50%;
          font-size: 2rem; }
    main .accordion .accordion-body .contenedor3 {
      display: flex;
      flex-direction: column;
      align-items: center; }
      main .accordion .accordion-body .contenedor3 .card {
        width: 20rem; }
        main .accordion .accordion-body .contenedor3 .card .card-title {
          font-size: 2rem; }
        main .accordion .accordion-body .contenedor3 .card .btn-primary {
          width: 50%;
          font-size: 2rem; }
  /**************************************************************************************************/
  /**************************MAIN de la pagina miembros actuales****************************/
  main .tituloGrupoactivo h1 {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-family: 'Playfair Display', serif;
    position: relative;
    left: 40%;
    text-align: center; }
  main .accordion .accordion-body .primeraFila {
    display: flex;
    flex-direction: column;
    align-items: center; }
    main .accordion .accordion-body .primeraFila .card {
      width: 20rem; }
      main .accordion .accordion-body .primeraFila .card .card-title {
        font-size: 2rem; }
      main .accordion .accordion-body .primeraFila .card .btn-primary {
        width: 50%;
        font-size: 2rem; }
  main .accordion .accordion-body .segundaFila {
    display: flex;
    flex-direction: column;
    align-items: center; }
    main .accordion .accordion-body .segundaFila .card {
      width: 20rem; }
      main .accordion .accordion-body .segundaFila .card .card-title {
        font-size: 2rem; }
      main .accordion .accordion-body .segundaFila .card .btn-primary {
        width: 50%;
        font-size: 2rem; }
  main .accordion .accordion-body .terceraFila {
    display: flex;
    flex-direction: column;
    align-items: center; }
    main .accordion .accordion-body .terceraFila .card {
      width: 20rem; }
      main .accordion .accordion-body .terceraFila .card .card-title {
        font-size: 2rem; }
      main .accordion .accordion-body .terceraFila .card .btn-primary {
        width: 50%;
        font-size: 2rem; }
  main .accordion .accordion-body .cuartaFila {
    display: flex;
    flex-direction: column;
    align-items: center; }
    main .accordion .accordion-body .cuartaFila .card {
      width: 20rem; }
      main .accordion .accordion-body .cuartaFila .card .card-title {
        font-size: 2rem; }
      main .accordion .accordion-body .cuartaFila .card .btn-primary {
        width: 50%;
        font-size: 2rem; }
  /**************************************************************************************************/
  /**************************MAIN de la pagina subgrupos*********************************/
  main .tituloSubgrupo h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-family: 'Playfair Display', serif;
    position: relative;
    left: 40%;
    text-align: center; }
  main .table-dark {
    width: 700px;
    height: 800px;
    position: relative;
    left: 20%; }
    main .table-dark thead th {
      font-size: 1.6rem; }
    main .table-dark tbody tr td {
      font-size: 1.4rem; }
      main .table-dark tbody tr td h3 {
        font-size: 1.4rem; }
  /**************************************************************************************************/
  /**************************MAIN de la pagina Contacto**********************************************/
  .containerContacto .tituloContacto {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-family: 'Playfair Display', serif;
    position: relative;
    left: 40%; }
  form {
    position: relative;
    left: 40%; }
    form .form-group .label {
      font-size: 2rem; }
    form .form-group .form-control {
      margin-bottom: 10px;
      background-color: plum;
      font-family: "Times New Roman", Times, serif;
      font-size: 1.2rem; }
    form .form-group .form-check .form-check-label {
      font-size: 1.8rem; }
    form .form-group .opinion {
      background-color: plum;
      font-family: "Times New Roman", Times, serif;
      font-size: 2rem; }
    form .btn .btn-primary {
      width: 50%; }
  /**************************************************************************************************/
  /**********************************FOOTER de todos los html*************************************/
  footer {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 150px;
    width: 179%; }
    footer .contenedorRedes {
      position: relative;
      top: 10px; }
  /******************************************************************************************/ }
