 @mixin iframes {
     width: 500px;
     height: 270px;
     margin: 5px;
     float: right;
     border-radius: 30px;
     border: dotted blueviolet 3px;
 }

 /*******************MAIN del index*********************/
 .container {
     margin: auto;
     width: 95%;
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: auto;
     grid-template-areas:
         "iframesyImagenesdelgrupo iframesGrupo";

     .iframesyImagenesdelgrupo {
         padding: 1.2rem;
         grid-area: iframesyImagenesdelgrupo;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         position: relative;
         top: 10%;

         .imagenesGrupo {
             width: 90%;
             display: flex;
             flex-direction: column;
             justify-content: center;
             align-items: center;

             h1 {
                 text-align: center;
                 font-family: 'Mitr', sans-serif;
                 font-size: 2rem;
             }

             .imagenInicio {
                 width: 450px;
                 height: 335px;
                 margin: 5px;
                 border-radius: 30px;

                 &:hover {
                     animation-duration: 3s;
                     animation-name: efectoimagenes;
                     animation-iteration-count: infinite;
                 }

             }

             .imagenInicio2 {
                 width: 450px;
                 margin: 5px;
                 border-radius: 30px;

                 &:hover {
                     animation-duration: 3s;
                     animation-name: efectoimagenes;
                     animation-iteration-count: infinite;
                 }

                 /* width: 70%;*/


             }
         }

         .tienda {
             position: relative;
             top: 5%;

             h3 {
                 font-family: 'Oswald', sans-serif;
                 font-size: 30px;
             }

             .boton {
                 position: relative;
                 left: 20%;
                 margin-top: 20px;
                 margin-left: 2%;
                 width: 200px;
                 height: auto;
                 height: 30px;
                 font-weight: bold;
                 cursor: pointer;
                 font-size: 15px;
                 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                 background-color: aquamarine;
                 border-radius: 50px;
             }

         }
     }

     .iframesGrupo {
         padding: 1.2rem;
         grid-area: iframesGrupo;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         position: relative;
         top: 4.5%;
         bottom: 4%;
         right: 2%;
         width: 90%;

         h1 {
             text-align: center;
             font-family: 'Mitr', sans-serif;
             font-size: 2rem;
         }

         iframe {
             width: 450px;
             height: 335px;
             margin: 5px;
             border-radius: 30px;
             border: dotted blueviolet 3px;
         }
     }
 }

 /************************++++++++++KEYFRAME MAIN del INDEX+++++++++*****************************************/

 @keyframes efectoimagenes {

     0% {
         opacity: 0;
     }

     50% {
         opacity: 1;
         border: $bg-color-rojo solid 10px;
     }

     100% {
         opacity: 0;
     }
 }

 /*****************************************************************************/
 /*******************************************MAIN de la pagina NJPW******************************************/
 .empresaTitulos {
     h1 {
         display: flex;
         justify-content: center;
     }

 }

 .containerTitulos {
     margin: auto;
     width: 95%;
     display: grid;
     grid-template-columns: 2fr 2fr 3fr;
     grid-template-rows: auto;
     grid-template-areas:

         "titulosPrimeracolumna titulosSegundacolumna titulosTerceracolumna";


     .titulosPrimeracolumna {
         width: 40%;

         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         position: relative;
         left: 40%;
         top: 8%;

         .encabezado {

             padding-bottom: 20px;
             position: relative;
             bottom: 2%;

         }

         .titulosRetirados {
             h3 {
                 position: relative;
                 bottom: 22%;
             }
         }

         a {
             .iwgpworld {

                 width: 310px;

                 position: relative;
                 bottom: 20%;
             }

             .trofeosRetirados {
                 position: relative;
                 bottom: 15%;
             }

             .trofeosRetiradosinter {
                 position: relative;
                 bottom: 5%;
             }
         }
     }

     .titulosSegundacolumna {
         width: 40%;
         position: relative;
         bottom: 1.7%;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         position: relative;
         left: 40%;
         top: 7%;

         .tituloNeverops {

             position: relative;
             top: 5px;

         }

         .neverOps {

             position: relative;
             bottom: 2px;
         }

         img {
             width: 400px;
             height: 200px;
             padding: 5px;
             position: relative;
             bottom: 8%;
         }
     }

     .titulosTerceracolumna {

         width: 40%;

         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         position: relative;
         left: 30%;
         top: 8%;

         img {
             width: 400px;
             height: 200px;
             padding: 5px;
         }
     }

 }

 /************************************************************************/
 /*********************Main de la pagina ROH****************************/
 .titularRoh {
     display: flex;
     justify-content: center;
 }

 .containerRoh {
     margin: auto;
     width: 95%;
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: auto;
     grid-template-areas:
         "titulosrohPrimeracolumna titulosrohSegundacolumna";

     .titulosrohPrimeracolumna {
         display: flex;
         flex-direction: column;
         align-items: center;
     }

     .titulosrohSegundacolumna {
         display: flex;
         flex-direction: column;
         align-items: center;
     }

 }

 /***************************************************************/
 /*************************MAIN de la pagina otras promociones************************/
 .titularOtraspromociones {
     display: flex;
     justify-content: center;

 }

 .containerOtraspromociones {
     margin-left: auto;
     width: 100%;
     display: grid;
     position: relative;

     grid-template-columns: 3fr 3fr 3fr;
     grid-template-rows: auto;
     grid-column-gap: 10px;
     grid-template-areas:
         "titulosOtrosprimeracolumna titulosOtrossegundacolumna titulosOtrosterceracolumna";

     .titulosOtrosprimeracolumna {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         position: relative;
         top: 50px;

         h3 {
             text-align: center;
         }
     }

     .titulosOtrossegundacolumna {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         position: relative;
         top: 50px;

         h3 {
             text-align: center;
         }
     }

     .titulosOtrosterceracolumna {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         position: relative;
         top: 50px;

         h3 {
             text-align: center;
         }
     }

 }

 /*******************************************************************************************/
 /******************************MAIN la pagina Miembrosactuales y antiguos**********************************************/
 .tituloGrupo {
     display: flex;
     justify-content: center;
 }

 .card {
     background-color: $bg-color-card;

     .card-title {
         font-size: 1.2rem;
         font-weight: bold;
         color: white;
     }
 }

 /*******************************************************************************************/
 /******************************MAIN la pagina Subgrupos**********************************************/
 table {
     tr {
         text-align: center;

         th {
             text-align: center;
         }

         .prueba {
             width: 50%;
         }
     }

 }

 audio {
     display: flex;
     justify-content: center;

     &::-webkit-media-controls-panel {
         background-color: #56AEFF;
     }

     &::-webkit-media-controls-mute-button {
         background-color: #B1D4E0;
         border-radius: 50%;
     }

     &::-webkit-media-controls-play-button:hover {
         background-color: rgba(177, 212, 224, .7);
     }
 }

 /******************************MAIN la pagina Contacto**********************************************/
 .containerContacto {
     margin: auto;
     width: 95%;

     .tituloContacto {
         display: flex;
         justify-content: center;
     }
 }

 form {
     .form-control {
         margin-bottom: 10px;
         background-color: plum;
         font-family: $letra-campo-formulario;
         font-size: 1.2rem;


     }

     .opinion {
         background-color: plum;
         font-family: $letra-campo-formulario;
         font-size: 1.2rem;
     }

     .btn {
         .btn-primary {
             width: 50%;
         }
     }
 }

 /*******************************************************************************************/
 /******************************MAIN de la pagina historia**************************************/
 .containerHistoria {
     margin: auto;
     width: 95%;

     .liderazgoNakamura {
         position: relative;
         top: 2%;

         .parrafos {
             width: 100%;
             height: auto;

             align-items: center;
             justify-content: center;

             h1 {
                 text-align: center;
                 margin-top: 10px;
                 font-size: 33px;
             }

             h2 {
                 margin-top: 11px;
                 margin-left: 10px;
             }

             h3 {
                 margin-top: 5px;
                 margin-left: 10px;
             }

             h5 {
                 margin-top: 5px;
                 margin-left: 10px;
                 font-size: 16px;
                 font-weight: bold;
             }

             p {
                 text-align: justify-all;
                 margin-top: 10px;
                 font-size: 16px;
                 margin-left: 10px;

             }

             .imagenNakamura {
                 border-radius: 25%;
                 width: 40%;
                 float: right;
                 margin-top: 80px;
             }

             .liderOkada {
                 border-radius: 25%;
                 width: 40%;
                 float: right;
                 margin-top: 60px;
             }

             /*.traicionWhite {
                 border-radius: 25%;
                 width: 20%;
                 float: right;
                 margin-top: 60px;
             }*/

             .iframeJaygedo {
                 @include iframes();
             }

             .iframeWill {
                 @include iframes();
             }

             .iframeSHO {
                width: 500px;
                height: 270px;
                position: relative;
                top: 25px;
                float: right;
                border-radius: 30px;
                border: dotted blueviolet 3px;
             }
             .iframeBestfriends{
                width: 500px;
                height: 250px;
                position: relative;
                top: 10px;
                float: right;
                border-radius: 30px;
                border: dotted blueviolet 3px;
             }
             .divBestfriends{
               position: relative;
               top: 22px; 
             }
         }
     }
 }

 /******************************************************************/
 /*********************FOOTER de todas las paginas web****************************/
 footer {
     background-color: #e7a977;
     grid-area: footer;
     display: flex;
     justify-content: space-between;
     text-align: center;
     align-items: center;
     width: 100%;
     padding: 3rem;
     align-items: center;
     position: relative;
     top: 150px;

     .contenedorRedes {
         display: flex;
         align-items: center;

         .imagen1 {
             /* margin-top: 10px;*/
             width: 80px;
         }

         .imagen2 {
             /*margin-top: 10px;*/
             width: 80px;

         }
     }
 }

 /******************************FIN del FOOTER de todos los HTML*************************************/