 @mixin iframes {
     width: 500px;
     height: 270px;
     margin: 5px;
     float: right;


 }

 $estiloflex: (
     desplegar: flex,
     direccion: row,
     alineacion: center
 );

 .bordesiframes {
     border-radius: 30px;
     border: dotted blueviolet 3px;
 }

 /*******************MAIN del index*********************/
 .tituloInicio {


     h1 {
         display: flex;
         align-items: center;
         justify-content: center;
         font-size: 5rem;
         animation-duration: 3s;
         animation-name: inicio;
         animation-iteration-count: infinite;
         font-family: 'Playfair Display', serif;

     }
 }

 @keyframes inicio {

     0% {
         opacity: 0;
     }

     50% {
         opacity: 1;
         background-color: aquamarine;
     }

     100% {
         opacity: 0;
         background-color: tomato;
     }
 }

 .container {
     margin: auto;
     width: 95%;
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: auto;
     grid-template-areas:
         "iframesyImagenesdelgrupo iframesGrupo";

     .iframesyImagenesdelgrupo {
         padding: 1.2rem;
         grid-area: iframesyImagenesdelgrupo;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         position: relative;
         top: 10%;

         .imagenesGrupo {
             width: 90%;
             display: flex;
             flex-direction: column;
             justify-content: center;
             align-items: center;

             h2 {
                 text-align: center;
                 font-family: 'Mitr', sans-serif;
                 font-size: 2rem;
             }

             .imagenInicio {
                 width: 90%;
                 height: 335px;
                 margin: 5px;
                 border-radius: 30px;

                 &:hover {
                     animation-duration: 3s;
                     animation-name: efectoimagenes;
                     animation-iteration-count: infinite;
                 }

             }

             .imagenInicio2 {
                 width: 90%;
                 margin: 5px;
                 border-radius: 30px;

                 &:hover {
                     animation-duration: 3s;
                     animation-name: efectoimagenes;
                     animation-iteration-count: infinite;
                 }

                 /* width: 70%;*/


             }
         }

         .tienda {
             position: relative;
             top: 5%;

             h3 {
                 font-family: 'Oswald', sans-serif;
                 font-size: 30px;
             }

             .boton {
                 position: relative;
                 left: 20%;
                 margin-top: 20px;
                 margin-left: 2%;
                 width: 200px;
                 height: auto;
                 height: 30px;
                 font-weight: bold;
                 cursor: pointer;
                 font-size: 15px;
                 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                 background-color: aquamarine;
                 border-radius: 50px;
             }

         }
     }

     .iframesGrupo {
         padding: 1.2rem;
         grid-area: iframesGrupo;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         position: relative;
         top: 4.5%;
         bottom: 4%;
         right: 2%;
         width: 90%;

         h2 {
             text-align: center;
             font-family: 'Mitr', sans-serif;
             font-size: 2rem;
         }

         iframe {
             width: 450px;
             height: 335px;
             margin: 5px;
             border-radius: 30px;
             border: dotted blueviolet 3px;
         }
     }
 }

 /************************++++++++++KEYFRAME MAIN del INDEX+++++++++*****************************************/

 @keyframes efectoimagenes {

     0% {
         opacity: 0;
     }

     50% {
         opacity: 1;
         border: $bg-color-rojo solid 10px;
     }

     100% {
         opacity: 0;
     }
 }

 /*****************************************************************************/
 /*******************************************MAIN de la pagina NJPW******************************************/
 main {
     .empresaTitulos {
         h1 {
             display: flex;
             justify-content: center;
             font-size: 5rem;
             font-family: 'Playfair Display', serif;
         }

     }

     .titulosPrimeracolumna {
         display: flex;
         flex-direction: row;
         margin-left: 15%;

         .card {

             background-color: $bg-color-card-trofeos;
             width: 25rem;
             border: transparent;

             .card-title {
                 font-size: 1.2rem;
                 font-weight: bold;
                 color: black;
             }
         }
     }

     .titulosSegundacolumna {
         display: flex;
         flex-direction: row;
         margin-left: 15%;

         .card {
             background-color: $bg-color-card-trofeos;
             width: 25rem;
             border: transparent;

             .card-title {
                 font-size: 1.2rem;
                 font-weight: bold;
                 color: black;
             }
         }
     }

     .titulosTerceracolumna {
         display: flex;
         flex-direction: row;
         margin-left: 15%;

         .card {
             background-color: $bg-color-card-trofeos;
             width: 25rem;
             border: transparent;

             .card-title {
                 font-size: 1.2rem;
                 font-weight: bold;
                 color: black;
             }
         }
     }

     .titulosCuartacolumna {
         display: flex;
         flex-direction: row;
         margin-left: 15%;

         .card {
             background-color: $bg-color-card-trofeos;
             width: 25rem;
             border: transparent;

             .card-title {
                 font-size: 1.2rem;
                 font-weight: bold;
                 color: black;
             }
         }
     }

     .titulosQuintacolumna {
         display: flex;
         flex-direction: row;
         margin-left: 15%;

         .card {
             background-color: $bg-color-card-trofeos;
             width: 25rem;
             border: transparent;

             .card-title {
                 font-size: 1.2rem;
                 font-weight: bold;
                 color: black;
             }
         }
     }


 }



 /************************************************************************/
 /*********************Main de la pagina ROH****************************/

 main {
     .titularRoh {
         h1 {
             display: flex;
             justify-content: center;
             font-size: 5rem;
             font-family: 'Playfair Display', serif;
         }

     }

     .titulosrohPrimeracolumna {
         display: map-get($estiloflex, desplegar);
         flex-direction: map-get($estiloflex, direccion);
         margin-left: 15%;

         .card {

             background-color: $bg-color-card-trofeos;
             border: transparent;
         }

     }

     .titulosrohSegundacolumna {
         display: map-get($estiloflex, desplegar);
         flex-direction: map-get($estiloflex, direccion);
         margin-left: 15%;

         .card {
             background-color: $bg-color-card-trofeos;
             border: transparent;
         }

     }
 }


 /***************************************************************/
 /*************************MAIN de la pagina otras promociones************************/
 main {
     .titularOtraspromociones {
         display: flex;
         justify-content: center;

         h1 {

             font-size: 5rem;
             font-family: 'Playfair Display', serif;
         }

     }

     .titulosOtrosprimeracolumna {
         display: flex;
         flex-direction: row;
         margin-left: 15%;

         .card {
             background-color: $bg-color-card-trofeos;
             width: 25rem;
             border: transparent;


         }
     }

     .titulosOtrossegundacolumna {
         display: flex;
         flex-direction: row;
         margin-left: 15%;

         .card {
             background-color: $bg-color-card-trofeos;
             width: 25rem;
             border: transparent;
         }
     }

     .titulosOtrosterceracolumna {
         display: flex;
         flex-direction: row;
         margin-left: 15%;

         .card {
             background-color: $bg-color-card-trofeos;
             width: 25rem;
             border: transparent;
         }
     }
 }


 /*******************************************************************************************/
 /******************************MAIN la pagina Miembros antiguos**********************************************/
 main {
     .tituloGrupoantiguo {
         h1 {
             display: flex;
             justify-content: center;
             font-size: 5rem;
             font-family: 'Playfair Display', serif;
         }

     }

     .accordion {
         .accordion-button {
             background-color: bisque;

             h3 {
                 display: flex;
                 justify-content: center;

             }
         }

         .accordion-body {
             .contenedor {
                 display: flex;
                 flex-direction: row;
                 position: relative;
                 left: 20px;

                 .card {
                     background-color: black;
                     width: 15rem;

                     .card-title {
                         font-size: 1.2rem;
                         font-weight: bold;
                         color: white;
                     }
                 }
             }

             .contenedor1 {
                 display: flex;
                 flex-direction: row;
                 position: relative;
                 left: 20px;

                 .card {
                     background-color: black;
                     width: 15rem;

                     .card-title {
                         font-size: 1.2rem;
                         font-weight: bold;
                         color: white;
                     }
                 }
             }

             .contenedor2 {
                 display: flex;
                 flex-direction: row;
                 position: relative;
                 left: 20px;

                 .card {
                     background-color: black;
                     width: 15rem;

                     .card-title {
                         font-size: 1.2rem;
                         font-weight: bold;
                         color: white;
                     }
                 }
             }

             .contenedor3 {
                 display: flex;
                 flex-direction: row;
                 position: relative;
                 left: 20px;

                 .card {
                     background-color: black;
                     width: 15rem;

                     .card-title {
                         font-size: 1.2rem;
                         font-weight: bold;
                         color: white;
                     }
                 }
             }
         }
     }


 }




 /*************************************************************************************************/
 /*********************************MAIN de la pagina miembros actuales*******************************/

 main {
     .primeraFila {
         display: flex;
         flex-direction: row;

         .card {
             background-color: $bg-color-card;
             width: 15rem;

             .card-title {
                 font-size: 1.2rem;
                 font-weight: bold;
                 color: white;
             }
         }
     }

     .segundaFila {
         display: flex;
         flex-direction: row;

         .card {
             background-color: $bg-color-card;
             width: 15rem;

             .card-title {
                 font-size: 1.2rem;
                 font-weight: bold;
                 color: white;
             }
         }
     }

     .terceraFila {
         display: flex;
         flex-direction: row;

         .card {
             background-color: $bg-color-card;
             width: 15rem;

             .card-title {
                 font-size: 1.2rem;
                 font-weight: bold;
                 color: white;
             }
         }
     }

     .cuartaFila {
         display: flex;
         flex-direction: row;
         width: 15rem;

         .card {
             background-color: $bg-color-card;
             width: 15rem;

             .card-title {
                 font-size: 1.2rem;
                 font-weight: bold;
                 color: white;
             }
         }
     }
 }

 main {
     .tituloGrupoactivo {
         h1 {
             display: flex;
             justify-content: center;
             font-size: 5rem;
             font-family: 'Playfair Display', serif;
         }

     }

     .primeraFila {
         display: flex;
         flex-direction: row;
         position: relative;
         left: 20px;

         .card {
             background-color: black;
             width: 25rem;

             .card-title {
                 font-size: 1.2rem;
                 font-weight: bold;
                 color: white;
             }
         }
     }

     .segundaFila {
         display: flex;
         flex-direction: row;
         position: relative;
         left: 20px;

         .card {
             background-color: black;
             width: 25rem;

             .card-title {
                 font-size: 1.2rem;
                 font-weight: bold;
                 color: white;
             }
         }
     }

     .terceraFila {
         display: flex;
         flex-direction: row;
         position: relative;
         left: 20px;

         .card {
             background-color: black;
             width: 25rem;

             .card-title {
                 font-size: 1.2rem;
                 font-weight: bold;
                 color: white;
             }
         }
     }

     .cuartaFila {
         display: flex;
         flex-direction: row;
         position: relative;
         left: 20px;

         .card {
             background-color: black;
             width: 25rem;

             .card-title {
                 font-size: 1.2rem;
                 font-weight: bold;
                 color: white;
             }
         }
     }
 }




 /***************************************************************************************************/
 /*******************************************************************************************/
 /******************************MAIN la pagina Subgrupos**********************************************/
 main {
     .tituloSubgrupo {
         h1 {
             display: flex;
             justify-content: center;
             font-size: 5rem;
             font-family: 'Playfair Display', serif;
         }
     }
 }


 table {

     tr {
         text-align: center;

         th {
             text-align: center;
         }

         .prueba {
             width: 50%;
         }
     }

 }



 audio {
     display: flex;
     justify-content: center;

     &::-webkit-media-controls-panel {
         background-color: #56AEFF;
     }

     &::-webkit-media-controls-mute-button {
         background-color: #B1D4E0;
         border-radius: 50%;
     }

     &::-webkit-media-controls-play-button:hover {
         background-color: rgba(177, 212, 224, .7);
     }
 }

 /******************************MAIN la pagina Contacto**********************************************/
 .containerContacto {
     margin: auto;
     width: 95%;

     .tituloContacto {
         display: flex;
         justify-content: center;
         font-size: 5rem;
         font-family: 'Playfair Display', serif;
     }

     .container {
         form {
             .form-control {
                 margin-bottom: 10px;
                 background-color: plum;
                 font-family: $letra-campo-formulario;
                 font-size: 1.2rem;


             }

             .opinion {
                 background-color: plum;
                 font-family: $letra-campo-formulario;
                 font-size: 1.2rem;
             }

             .btn {
                 .btn-primary {
                     width: 50%;
                 }
             }
         }

     }
 }


 /*******************************************************************************************/
 /******************************MAIN de la pagina historia**************************************/
 .tituloHistoria {
     h1 {
         display: flex;
         justify-content: center;
         font-size: 5rem;
         font-family: 'Playfair Display', serif;
     }
 }

 .containerHistoria {
     margin: auto;
     width: 95%;

     .acordeonShinsukenakamura {
         .accordion {
             .accordion-button {
                 background-color: bisque;

                 h3 {
                     display: flex;
                     justify-content: center;

                 }
             }

             .accordion-body {
                 background-color: #B1D4E0;

                 .Nacimiento {
                     .imagenNakamura {
                         border-radius: 25%;
                         width: 40%;
                         float: right;
                         margin-top: 50px;
                         margin-left: 5px;
                         @extend .bordesiframes;
                     }
                 }

             }
         }

     }

     .acordeonOkada {
         .accordion {
             .accordion-button {
                 background-color: bisque;

                 h3 {
                     display: flex;
                     justify-content: center;
                 }
             }

             .accordion-body {
                 background-color: #B1D4E0;

                 .accordionSalida {
                     .liderOkada {
                         border-radius: 25%;
                         width: 40%;
                         float: right;
                         margin-top: 60px;
                         @extend .bordesiframes;
                     }

                 }

                 .accordionJay {
                     .iframeJaygedo {

                         @include iframes();
                         @extend .bordesiframes;
                     }
                 }

                 .accordionWill {
                     .iframeWill {

                         @include iframes();
                         position: relative;
                         bottom: 15px;
                         @extend .bordesiframes;
                     }
                 }

                 .accordionBestfriends {
                     height: 300px;

                     .iframeBestfriends {
                         @include iframes();
                         @extend .bordesiframes;
                     }

                 }

             }
         }
     }



 }

 /******************************************************************/
 /*********************FOOTER de todas las paginas web****************************/
 footer {
     background-color: #e7a977;
     grid-area: footer;
     display: flex;
     justify-content: space-between;
     text-align: center;
     align-items: center;
     width: 100%;
     padding: 3rem;
     align-items: center;
     position: relative;
     top: 150px;

     .contenedorRedes {
         display: flex;
         align-items: center;

         .face {
             .imagen1 {

                 width: 80px;
                 
                }
             margin: 0 30px;
         }
     
         .twitter {
             .imagen2 {
                 width: 80px;

             }
         }



     }
 }

 /******************************FIN del FOOTER de todos los HTML*************************************/