@media only screen and (max-width:500px) {
    body {

        display: flex;
        flex-direction: column;
        min-height: 100vh;

    }

    /****************NAVBAR de todos las paginas******************************/
    .menu-bar {
        width: 100%;

        .navbar {

            .navbar-nav {
                width: 100%;

                .nav-link {
                    width: 100%;
                    font-size: 80%;
                }
            }

            .navbar-brand {

                width: 90%;
                display: flex;
                justify-content: center;

                img {
                    width: 90%;

                }
            }

            .navbar-toggler {
                width: 70%;
                position: relative;
                left: 15%;
            }
        }

        .dropdown {
            .dropdown-menu {

                .dropdown-item {
                    text-align: center;
                    font-size: 80%;
                    width: 100%;

                    &:hover {
                        background-color: $bg-color-rojo;
                    }
                }
            }
        }
    }

    /**********************************************************************/

    /*************Container del INDEX*************************************/
    .tituloInicio {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;

        h1 {

            text-align: center;
            /*font-size: 130%;*/
            font-size: 200%;
            font-family: 'Playfair Display', serif;


        }
    }

    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
            "iframesyImagenesdelgrupo"
            "iframesGrupo";

        .iframesyImagenesdelgrupo {
            display: flex;
            flex-direction: column;
            width: 100%;

            .imagenesGrupo {

                width: 100%;

                .imagenInicio {


                    &:hover {
                        animation-duration: 3s;
                        animation-name: efectoimagenes;
                        animation-iteration-count: infinite;
                    }

                }

                .imagenInicio2 {


                    &:hover {
                        animation-duration: 3s;
                        animation-name: efectoimagenes;
                        animation-iteration-count: infinite;
                    }

                }
            }

            .tienda {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 90%;

                h3 {
                    font-size: 130%;
                    position: relative;
                    left: 5%;
                }

                .boton {
                    position: relative;
                    bottom: 20%;
                    left: 5%;
                    width: 80%;
                    font-size: 100%;
                }
            }
        }

        /************************++++++++++KEYFRAME MAIN del INDEX+++++++++*****************************************/
        @keyframes efectoimagenes {

            0% {
                opacity: 0;
            }

            50% {
                opacity: 1;
                border: $bg-color-rojo solid 10px;
            }

            100% {
                opacity: 0;
            }
        }

        /********************+++++++++++++++++++++++++++++++++++++++++++++++*************************/
        .iframesGrupo {
            padding: 1.2rem;
            grid-area: iframesGrupo;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;

            width: 100%;
            top: 20%;

            .iframe1 {


                width: 100%;
                height: 100%;
            }

            .iframe2 {


                width: 100%;
                height: 100%;
            }
        }

    }


    /**********************************************************/
    /************************************MAIN de la pagina NJPW**********************************/



    main {
        .empresaTitulos {
            h1 {

                font-size: 200%;
                text-align: center;
            }

        }

        .accordion {
            width: 100%;

            .accordion-button {
                font-size: 1.2rem;
            }

            .accordion-body {
                .titulosPrimeracolumna {
                    display: flex;
                    flex-direction: column;


                    .card {
                        border: transparent;
                        width: 100%;

                        img {
                            &:hover {
                                animation-duration: 3s;
                                animation-name: efectoimagenestrofeos;
                                animation-iteration-count: infinite;
                            }
                        }

                        .card-title {
                            font-size: 120%;
                        }

                        .btn-primary {
                            width: 50%;
                            font-size: 120%;

                        }
                    }

                }

                .titulosSegundacolumna {
                    display: flex;
                    flex-direction: column;


                    .card {
                        border: transparent;
                        width: 100%;

                        img {
                            &:hover {
                                animation-duration: 3s;
                                animation-name: efectoimagenestrofeos;
                                animation-iteration-count: infinite;
                            }
                        }

                        .card-title {
                            font-size: 120%;
                        }

                        .btn-primary {
                            width: 50%;
                            font-size: 120%;

                        }
                    }


                }

                .titulosTerceracolumna {
                    display: flex;
                    flex-direction: column;


                    .card {
                        border: transparent;
                        width: 100%;

                        img {
                            &:hover {
                                animation-duration: 3s;
                                animation-name: efectoimagenestrofeos;
                                animation-iteration-count: infinite;
                            }
                        }

                        .card-title {
                            font-size: 120%;
                        }

                        .btn-primary {
                            width: 50%;
                            font-size: 120%;

                        }
                    }


                }

                .titulosCuartacolumna {
                    display: flex;
                    flex-direction: column;


                    .card {
                        border: transparent;
                        width: 100%;

                        img {
                            &:hover {
                                animation-duration: 3s;
                                animation-name: efectoimagenestrofeos;
                                animation-iteration-count: infinite;
                            }
                        }

                        .card-title {
                            font-size: 120%;
                        }

                        .btn-primary {
                            width: 50%;
                            font-size: 120%;

                        }
                    }


                }

                .titulosQuintacolumna {
                    display: flex;
                    flex-direction: column;


                    .card {
                        border: transparent;
                        width: 100%;

                        img {
                            &:hover {
                                animation-duration: 3s;
                                animation-name: efectoimagenestrofeos;
                                animation-iteration-count: infinite;
                            }
                        }

                        .card-title {
                            font-size: 120%;
                        }

                        .btn-primary {
                            width: 50%;
                            font-size: 120%;

                        }
                    }

                }
            }
        }


    }


    /***********************************************************************************************/
    /*******************************MAIN de la pagina ROH******************************/
    main {
        .titularRoh {
            display: flex;
            justify-content: center;



            h1 {
                text-align: center;
                font-size: 200%;
            }
        }

        .accordion {
            width: 100%;

            .accordion-button {
                font-size: 1.2rem;
            }

            .accordion-body {
                .titulosrohPrimeracolumna {
                    display: flex;
                    flex-direction: column;


                    .card {
                        border: transparent;
                        width: 100%;

                        img {
                            &:hover {
                                animation-duration: 3s;
                                animation-name: efectoimagenestrofeos;
                                animation-iteration-count: infinite;
                            }
                        }

                        .card-title {
                            font-size: 120%;
                        }

                        .btn-primary {
                            width: 50%;
                            font-size: 120%;

                        }
                    }


                }

                .titulosrohSegundacolumna {
                    display: flex;
                    flex-direction: column;


                    .card {
                        border: transparent;
                        width: 100%;

                        img {

                            &:hover {
                                animation-duration: 3s;
                                animation-name: efectoimagenestrofeos;
                                animation-iteration-count: infinite;
                            }
                        }

                        .card-title {
                            font-size: 120%;
                        }

                        .btn-primary {
                            width: 50%;
                            font-size: 120%;

                        }
                    }


                }
            }
        }

    }

    /***********************************************************************************************/
    /*******************MAIN de la pagina otraspromociones******************************************/
    main {
        .titularOtraspromociones {
            display: flex;
            justify-content: center;


            h1 {
                text-align: center;
                font-size: 200%;
            }
        }

        .accordion {
            width: 100%;

            .accordion-button {
                font-size: 1.2rem;
            }

            .accordion-body {
                .titulosOtrosprimeracolumna {
                    display: flex;
                    flex-direction: column;


                    .card {
                        border: transparent;
                        width: 100%;

                        img {
                            width: 100%;

                            &:hover {
                                animation-duration: 3s;
                                animation-name: efectoimagenestrofeos;
                                animation-iteration-count: infinite;
                            }
                        }

                        .card-title {
                            font-size: 120%;
                        }

                        .btn-primary {
                            width: 60%;
                            font-size: 120%;

                        }
                    }

                }

                .titulosOtrossegundacolumna {
                    display: flex;
                    flex-direction: column;


                    .card {
                        border: transparent;
                        width: 100%;

                        img {
                            width: 100%;

                            &:hover {
                                animation-duration: 3s;
                                animation-name: efectoimagenestrofeos;
                                animation-iteration-count: infinite;
                            }
                        }

                        .card-title {
                            font-size: 120%;
                        }

                        .btn-primary {
                            width: 50%;
                            font-size: 120%;

                        }
                    }
                }

                .titulosOtrosterceracolumna {
                    display: flex;
                    flex-direction: column;


                    .card {
                        border: transparent;
                        width: 100%;

                        img {
                            width: 100%;

                            &:hover {
                                animation-duration: 3s;
                                animation-name: efectoimagenestrofeos;
                                animation-iteration-count: infinite;
                            }
                        }

                        .card-title {
                            font-size: 120%;
                        }

                        .btn-primary {
                            width: 50%;
                            font-size: 120%;

                        }
                    }
                }
            }
        }

    }

    @keyframes efectoimagenestrofeos {

        0% {
            opacity: 0;
        }

        50% {
            opacity: 1;
            border: rgb(98, 196, 199) solid 10px;
        }

        100% {
            opacity: 0;
        }
    }

    /***********************************************************************************************/
    /*******************************MAIN de la pagina Historia**************************************/
    .tituloHistoria {
        display: flex;
        justify-content: center;


        h1 {
            text-align: center;
            font-size: 200%;
        }
    }

    .containerHistoria {


        p {
            font-size: 1.5rem;
        }

        .acordeonShinsukenakamura {
            .accordion {
                width: 100%;

                .accordion-button {
                    font-size: 1.2rem;
                }

                .accordion-body {
                    .Nacimiento {
                        .imagenNakamura {
                            width: 100%;
                            position: relative;
                            bottom: 50px;
                            float: none;
                        }

                    }
                }
            }
        }

        .acordeonOkada {
            .accordion {
                width: 100%;

                .accordion-button {
                    font-size: 1.2rem;
                }

                .accordion-body {

                    .Nacimiento {
                        .imagenNakamura {
                            width: 100%;
                            position: relative;
                            bottom: 50px;
                            float: none;
                        }

                    }

                    .accordionSalida {
                        .liderOkada {
                            width: 100%;
                            position: relative;
                            bottom: 50px;
                            float: none;
                        }
                    }

                    .accordionJay {
                        .iframeJaygedo {
                            width: 100%;
                            margin-bottom: 30px;
                            height: 335px;
                        }
                    }

                    .accordionWill {
                        .iframeWill {
                            width: 100%;
                            margin-bottom: 30px;
                            height: 335px;
                        }
                    }

                    .accordionBestfriends {
                        height: 90%;

                        .iframeBestfriends {
                            width: 100%;
                            margin-bottom: 30px;
                            height: 300px;
                        }
                    }
                }

            }
        }

    }

    /************************************************************************************************/
    /**************************MAIN de la pagina miembrosantiguos****************************/


    main {
        .tituloGrupoantiguo {
            display: inline;
            margin: 0;

            h1 {

                font-size: 200%;
                font-family: 'Playfair Display', serif;

                text-align: center;
            }
        }

        .accordion {
            width: 100%;

            .accordion-button {
                font-size: 1.2rem;
            }

            .accordion-body {
                .contenedor {

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;

                    .card {

                        width: 100%;

                        .card-title {
                            font-size: 120%;
                        }

                        .btn-primary {
                            width: 100%;
                            font-size: 120%;

                        }
                    }
                }

                .contenedor1 {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;

                    .card {
                        width: 100%;

                        .card-title {
                            font-size: 120%;
                        }

                        .btn-primary {
                            width: 100%;
                            font-size: 120%;

                        }
                    }
                }

                .contenedor2 {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;

                    .card {
                        width: 100%;

                        .card-title {
                            font-size: 120%;
                        }

                        .btn-primary {
                            width: 100%;
                            font-size: 120%;

                        }
                    }
                }

                .contenedor3 {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;

                    .card {
                        width: 100%;

                        .card-title {
                            font-size: 120%;
                        }

                        .btn-primary {
                            width: 100%;
                            font-size: 120%;

                        }
                    }
                }
            }
        }

    
    }


    /**************************************************************************************************/
    /**************************MAIN de la pagina miembros actuales****************************/
    main {
        .tituloGrupoactivo {
            display: flex;
            justify-content: center;

            h1 {

                font-size: 200%;
                font-family: 'Playfair Display', serif;

                text-align: center;
            }
        }

        .accordion {
            width: 100%;

            .accordion-button {
                font-size: 1.2rem;
            }

            .accordion-body {
                .primeraFila {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .card {
                        width: 100%;

                        .card-title {
                            font-size: 2rem;
                        }

                        .btn-primary {
                            width: 100%;
                            font-size: 2rem;

                        }
                    }
                }

                .segundaFila {
                    display: flex;
                    flex-direction: column;
                    align-items: center;


                    .card {
                        width: 100%;

                        .card-title {
                            font-size: 2rem;

                        }

                        .btn-primary {
                            width: 100%;
                            font-size: 2rem;

                        }
                    }
                }

                .terceraFila {
                    display: flex;
                    flex-direction: column;
                    align-items: center;


                    .card {
                        width: 100%;

                        .card-title {
                            font-size: 2rem;
                        }

                        .btn-primary {
                            width: 100%;
                            font-size: 2rem;

                        }
                    }
                }

                .cuartaFila {
                    display: flex;
                    flex-direction: column;
                    align-items: center;


                    .card {
                        width: 100%;

                        .card-title {
                            font-size: 2rem;
                        }

                        .btn-primary {
                            width: 100%;
                            font-size: 2rem;

                        }
                    }
                }
            }
        }


    }


    /**************************************************************************************************/
    /**************************MAIN de la pagina subgrupos*********************************/
    main {
        .tituloSubgrupo {
               display: flex;
                justify-content: center;
            h1 {
             
                align-items: center;
                font-size: 200%;
                font-family: 'Playfair Display', serif;

                text-align: center;
            }
        }

        .table-dark {
            width: 100%;
            height: 800px;


            thead {
                th {
                    font-size: 100%;
                }
            }

            tbody {
                tr {
                    td {
                        font-size: 100%;

                        h3 {
                            font-size: 100%;
                        }
                    }
                }
            }
        }
    }


    /**************************************************************************************************/
    /**************************MAIN de la pagina Contacto**********************************************/

    .containerContacto {
        .tituloContacto {
            display: flex;
            justify-content: center;

            font-size: 200%;
            font-family: 'Playfair Display', serif;


        }
        .container{
            position: relative;
            left: 0%;
            form {


                .form-group {
                    .label {
                        font-size: 100%;
                    }
        
                    .form-control {
                        margin-bottom: 10px;
                        background-color: plum;
                        font-family: $letra-campo-formulario;
                        font-size: 1.2rem;
        
        
                    }
        
                    .form-check {
                        .form-check-label {
                            font-size: 100%;
                            font-family: 'Times New Roman', Times, serif;
                           
                        }
                    }
        
                    .opinion {
                        background-color: plum;
                        font-family: $letra-campo-formulario;
                        font-size: 100%;
        
                    }
        
                }
        
                .btn {
                    .btn-primary {
                        width: 50%;
                    }
                }
            }
        }
        
    }


    

    /**************************************************************************************************/
    /**********************************FOOTER de todos los html*************************************/
    
    footer {
        display: flex;
        flex-direction: column;
        position: relative;

        width: 100%;
        height: 50%;
        margin-top: auto;

        .contenedorRedes {
            width: 100%;
            position: relative;
            top: 10px;

            .face {
                width: 100%;
                .imagen1{
                    width: 50%;
                }
            }

            .twitter {
                width: 100%;
                
                position: relative;
                right: 5%;
                .imagen2{
                    width: 50%;
                }
            }

        }
    }


    /******************************************************************************************/
}