@media screen and (max-width:480px) {

    /****************NAVBAR de todos las paginas******************************/
    .menu-bar {
        width: 179%;

        .navbar {
            .navbar-nav {
                .nav-link {
                    font-size: 2rem;
                }
            }
        }

        .dropdown {
            .dropdown-menu {

                .dropdown-item {
                    text-align: center;
                    font-size: 2rem;

                    &:hover {
                        background-color: $bg-color-rojo;
                    }
                }
            }
        }
    }

    /**********************************************************************/

    /*************Container del INDEX*************************************/
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
            "iframesyImagenesdelgrupo"
            "iframesGrupo";

        .iframesyImagenesdelgrupo {
            position: relative;
            top: 15%;
            left: 40%;
            grid-area: iframesyImagenesdelgrupo;

            .imagenesGrupo {


                .imagenInicio {
                    width: 100%;
                    height: 335px;

                    &:hover {
                        animation-duration: 3s;
                        animation-name: efectoimagenes;
                        animation-iteration-count: infinite;
                    }

                }

                .imagenInicio2 {
                    width: 100%;
                    height: 335px;

                    &:hover {
                        animation-duration: 3s;
                        animation-name: efectoimagenes;
                        animation-iteration-count: infinite;
                    }

                }
            }

        }

        /************************++++++++++KEYFRAME MAIN del INDEX+++++++++*****************************************/
        @keyframes efectoimagenes {

            0% {
                opacity: 0;
            }

            50% {
                opacity: 1;
                border: $bg-color-rojo solid 10px;
            }

            100% {
                opacity: 0;
            }
        }

        /********************+++++++++++++++++++++++++++++++++++++++++++++++*************************/
        .iframesGrupo {
            padding: 1.2rem;
            grid-area: iframesGrupo;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;

            left: 40%;
            width: 90%;
            top: 20%;
        }

    }


    /**********************************************************/
    /************************************MAIN de la pagina NJPW**********************************/



    main {
        .empresaTitulos {
            h1 {
                position: relative;
                left: 40%;
            }

        }

        .titulosPrimeracolumna {
            display: flex;
            flex-direction: column;
            position: relative;
            /* left: 30%; medida de 320px*/
            left: 40%;

            .card {
                border: transparent;

                img {
                    &:hover {
                        animation-duration: 3s;
                        animation-name: efectoimagenestrofeos;
                        animation-iteration-count: infinite;
                    }
                }

                .card-title {
                    font-size: 2rem;
                }

                .btn-primary {
                    width: 50%;
                    font-size: 2rem;

                }
            }

        }

        .titulosSegundacolumna {
            display: flex;
            flex-direction: column;
            position: relative;
            left: 40%;

            .card {
                border: transparent;

                img {
                    &:hover {
                        animation-duration: 3s;
                        animation-name: efectoimagenestrofeos;
                        animation-iteration-count: infinite;
                    }
                }

                .card-title {
                    font-size: 2rem;
                }

                .btn-primary {
                    width: 50%;
                    font-size: 2rem;

                }
            }


        }

        .titulosTerceracolumna {
            display: flex;
            flex-direction: column;
            position: relative;
            left: 40%;

            .card {
                border: transparent;

                img {
                    &:hover {
                        animation-duration: 3s;
                        animation-name: efectoimagenestrofeos;
                        animation-iteration-count: infinite;
                    }
                }

                .card-title {
                    font-size: 2rem;
                }

                .btn-primary {
                    width: 50%;
                    font-size: 2rem;

                }
            }


        }

        .titulosCuartacolumna {
            display: flex;
            flex-direction: column;
            position: relative;
            left: 40%;

            .card {
                border: transparent;

                img {
                    &:hover {
                        animation-duration: 3s;
                        animation-name: efectoimagenestrofeos;
                        animation-iteration-count: infinite;
                    }
                }

                .card-title {
                    font-size: 2rem;
                }

                .btn-primary {
                    width: 50%;
                    font-size: 2rem;

                }
            }


        }

        .titulosQuintacolumna {
            display: flex;
            flex-direction: column;
            position: relative;
            left: 40%;

            .card {
                border: transparent;

                img {
                    &:hover {
                        animation-duration: 3s;
                        animation-name: efectoimagenestrofeos;
                        animation-iteration-count: infinite;
                    }
                }

                .card-title {
                    font-size: 2rem;
                }

                .btn-primary {
                    width: 50%;
                    font-size: 2rem;

                }
            }


        }
    }


    /***********************************************************************************************/
    /*******************************MAIN de la pagina ROH******************************/
    main {
        .titularRoh {
            display: flex;
            justify-content: center;
            position: relative;
            left: 40%;
        }

        .titulosrohPrimeracolumna {
            display: flex;
            flex-direction: column;
            position: relative;
            left: 40%;

            .card {
                border: transparent;

                img {
                    &:hover {
                        animation-duration: 3s;
                        animation-name: efectoimagenestrofeos;
                        animation-iteration-count: infinite;
                    }
                }

                .card-title {
                    font-size: 2rem;
                }

                .btn-primary {
                    width: 50%;
                    font-size: 2rem;

                }
            }


        }

        .titulosrohSegundacolumna {
            display: flex;
            flex-direction: column;
            position: relative;
            left: 40%;

            .card {
                border: transparent;

                img {

                    &:hover {
                        animation-duration: 3s;
                        animation-name: efectoimagenestrofeos;
                        animation-iteration-count: infinite;
                    }
                }

                .card-title {
                    font-size: 2rem;
                }

                .btn-primary {
                    width: 50%;
                    font-size: 2rem;

                }
            }


        }
    }

    /***********************************************************************************************/
    /*******************MAIN de la pagina otraspromociones******************************************/
    main {
        .titularOtraspromociones {
            display: flex;
            justify-content: center;
            position: relative;
            left: 40%;
        }

        .titulosOtrosprimeracolumna {
            display: flex;
            flex-direction: column;
            position: relative;
            left: 40%;

            .card {
                border: transparent;

                img {
                    &:hover {
                        animation-duration: 3s;
                        animation-name: efectoimagenestrofeos;
                        animation-iteration-count: infinite;
                    }
                }

                .card-title {
                    font-size: 2rem;
                }

                .btn-primary {
                    width: 50%;
                    font-size: 2rem;

                }
            }

        }

        .titulosOtrossegundacolumna {
            display: flex;
            flex-direction: column;
            position: relative;
            left: 40%;

            .card {
                border: transparent;

                img {
                    &:hover {
                        animation-duration: 3s;
                        animation-name: efectoimagenestrofeos;
                        animation-iteration-count: infinite;
                    }
                }

                .card-title {
                    font-size: 2rem;
                }

                .btn-primary {
                    width: 50%;
                    font-size: 2rem;

                }
            }
        }

        .titulosOtrosterceracolumna {
            display: flex;
            flex-direction: column;
            position: relative;
            left: 40%;

            .card {
                border: transparent;

                img {
                    &:hover {
                        animation-duration: 3s;
                        animation-name: efectoimagenestrofeos;
                        animation-iteration-count: infinite;
                    }
                }

                .card-title {
                    font-size: 2rem;
                }

                .btn-primary {
                    width: 50%;
                    font-size: 2rem;

                }
            }
        }
    }

    @keyframes efectoimagenestrofeos {

        0% {
            opacity: 0;
        }

        50% {
            opacity: 1;
            border: rgb(98, 196, 199) solid 10px;
        }

        100% {
            opacity: 0;
        }
    }

    /***********************************************************************************************/
    /*******************************MAIN de la pagina Historia**************************************/
    .tituloHistoria {
        display: flex;
        justify-content: center;
        position: relative;
        left: 40%;
    }

    .containerHistoria {
        position: relative;
        left: 50px;

        p {
            font-size: 1.5rem;
        }

        .acordeonShinsukenakamura {
            .accordion {
                width: 45rem;

                .accordion-body {
                    .Nacimiento {
                        .imagenNakamura {
                            width: 100%;
                            position: relative;
                            bottom: 50px;
                            float: none;
                        }

                    }
                }
            }
        }

        .acordeonOkada {
            .accordion {
                width: 45rem;

                .accordion-body {

                    .Nacimiento {
                        .imagenNakamura {
                            width: 100%;
                            position: relative;
                            bottom: 50px;
                            float: none;
                        }

                    }

                    .accordionSalida {
                        .liderOkada {
                            width: 100%;
                            position: relative;
                            bottom: 50px;
                            float: none;
                        }
                    }

                    .accordionJay {
                        .iframeJaygedo {
                            width: 100%;
                            margin-bottom: 30px;
                            height: 335px;
                        }
                    }

                    .accordionWill {
                        .iframeWill {
                            width: 100%;
                            margin-bottom: 30px;
                            height: 335px;
                        }
                    }

                    .accordionBestfriends {
                        height: 500px;

                        .iframeBestfriends {
                            width: 100%;
                            margin-bottom: 30px;
                            height: 200px;
                        }
                    }
                }

            }
        }

    }

    /************************************************************************************************/
    /**************************MAIN de la pagina miembrosantiguos****************************/


    main {
        .tituloGrupoantiguo {
            h1 {
                display: flex;
                justify-content: center;
                font-size: 5rem;
                   font-family: 'Playfair Display', serif;
            }
        }

        .accordion {
            position: relative;
            left: 40%;

            .accordion-body {
                .contenedor {

                    display: flex;
                    flex-direction: column;
                    align-items: center;


                    .card {

                        width: 20rem;

                        .card-title {
                            font-size: 2rem;
                        }

                    }
                }

                .contenedor1 {
                    display: flex;
                    flex-direction: column;
                    align-items: center;


                    .card {
                        width: 20rem;

                        .card-title {
                            font-size: 2rem;
                        }
                    }
                }

                .contenedor2 {
                    display: flex;
                    flex-direction: column;
                    align-items: center;


                    .card {
                        width: 20rem;

                        .card-title {
                            font-size: 2rem;
                        }
                    }
                }

                .contenedor3 {
                    display: flex;
                    flex-direction: column;
                    align-items: center;


                    .card {
                        width: 20rem;

                        .card-title {
                            font-size: 2rem;
                        }
                    }
                }
            }
        }

    }


    /**************************************************************************************************/
    /**************************MAIN de la pagina miembros actuales****************************/
    main {
        .tituloGrupoactivo {
            h1 {
                display: flex;
                justify-content: center;
                font-size: 5rem;
                font-family: 'Playfair Display', serif;
            }
        }

        .accordion {

            .accordion-body {
                .primeraFila {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .card {
                        width: 20rem;

                        .card-title {
                            font-size: 2rem;
                        }
                    }
                }

                .segundaFila {
                    display: flex;
                    flex-direction: column;
                    align-items: center;


                    .card {
                        width: 20rem;

                        .card-title {
                            font-size: 2rem;

                        }
                    }
                }

                .terceraFila {
                    display: flex;
                    flex-direction: column;
                    align-items: center;


                    .card {
                        width: 20rem;

                        .card-title {
                            font-size: 2rem;
                        }
                    }
                }

                .cuartaFila {
                    display: flex;
                    flex-direction: column;
                    align-items: center;


                    .card {
                        width: 20rem;

                        .card-title {
                            font-size: 2rem;
                        }
                    }
                }
            }
        }


    }


    /**************************************************************************************************/
    /**************************MAIN de la pagina subgrupos*********************************/
    main {
        .tituloSubgrupo {
            h1 {
                display: flex;
                justify-content: center;
                font-size: 5rem;
                font-family: 'Playfair Display', serif;
            }
        }

        .table-dark {
            width: 700px;
            height: 800px;
            position: relative;
            left: 20%;

            thead {
                th {
                    font-size: 1.6rem;
                }
            }

            tbody {
                tr {
                    td {
                        font-size: 1.4rem;

                        h3 {
                            font-size: 1.4rem;
                        }
                    }
                }
            }
        }
    }


    /**************************************************************************************************/
    /**************************MAIN de la pagina Contacto**********************************************/
    .containerContacto {
        .tituloContacto {
            display: flex;
            justify-content: center;

            font-size: 2rem;
            font-family: 'Playfair Display', serif;
            position: relative;
            left: 40%;
        }
    }


    form {
        position: relative;
        left: 40%;

        .form-group {
            .label {
                font-size: 2rem;
            }

            .form-control {
                margin-bottom: 10px;
                background-color: plum;
                font-family: $letra-campo-formulario;
                font-size: 1.2rem;


            }

            .opinion {
                background-color: plum;
                font-family: $letra-campo-formulario;
                font-size: 2rem;

            }

        }

        .btn {
            .btn-primary {
                width: 50%;
            }
        }
    }

    /**************************************************************************************************/
    /**********************************FOOTER de todos los html*************************************/
    footer {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 150px;
        width: 179%;

        .contenedorRedes {
            position: relative;
            top: 10px;
        }
    }



    /******************************************************************************************/
}