@media screen and (max-width:320px) {

    /****************NAVBAR de todos las paginas******************************/
    .menu-bar {
        width: 179%;

        .dropdown {
            .dropdown-menu {
                .dropdown-item {
                    text-align: center;

                    &:hover {
                        background-color: $bg-color-rojo;
                    }
                }
            }
        }
    }

    /**********************************************************************/

    /*************Container del INDEX*************************************/
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
            "iframesyImagenesdelgrupo"
            "iframesGrupo";

        .iframesyImagenesdelgrupo {
            position: relative;
            top: 15%;
            right: 7%;
            grid-area: iframesyImagenesdelgrupo;

            .imagenesGrupo {


                .imagenInicio {
                    width: 90%;
                    height: 335px;

                    &:hover {
                        animation-duration: 3s;
                        animation-name: efectoimagenes;
                        animation-iteration-count: infinite;
                    }

                }

                .imagenInicio2 {
                    width: 90%;
                    height: 335px;

                    &:hover {
                        animation-duration: 3s;
                        animation-name: efectoimagenes;
                        animation-iteration-count: infinite;
                    }

                }
            }

        }

        /************************++++++++++KEYFRAME MAIN del INDEX+++++++++*****************************************/
        @keyframes efectoimagenes {

            0% {
                opacity: 0;
            }

            50% {
                opacity: 1;
                border: $bg-color-rojo solid 10px;
            }

            100% {
                opacity: 0;
            }
        }

        /********************+++++++++++++++++++++++++++++++++++++++++++++++*************************/
        .iframesGrupo {
            padding: 1.2rem;
            grid-area: iframesGrupo;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;

            right: 2%;
            width: 90%;
            top: 20%;
        }

    }


    /**********************************************************/
    /************************************MAIN de la pagina NJPW**********************************/
    .menu-bar-njpw {
        width: 432px;

        .dropdown {
            .dropdown-menu {
                .dropdown-item {
                    text-align: center;

                    &:hover {
                        background-color: $bg-color-rojo;
                    }
                }
            }
        }
    }

    .empresaTitulos {
        h1 {
            position: relative;
            left: 30%;
        }

    }

    .containerTitulos {

        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:

            "titulosPrimeracolumna"
            "titulosSegundacolumna"
            "titulosTerceracolumna";
        width: 120%;

        .titulosPrimeracolumna {
            grid-area: titulosPrimeracolumna;
            position: relative;
            left: 30%;
            top: 15%;

            text-align: center;

        }

        .titulosSegundacolumna {
            position: relative;
            left: 30%;
            top: 5%;
            margin-top: 30%;

            grid-area: titulosSegundacolumna;

            h1 {
                position: relative;
                bottom: 100%;
            }

            h3 {
                text-align: center;
            }


        }

        .titulosTerceracolumna {
            position: relative;
            left: 30%;

            grid-area: titulosTerceracolumna;

        }

    }



    .footer-njpw {
        width: 432px;
    }

    /*.containerTitulos {

        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:

            "titulosPrimeracolumna"
            "titulosSegundacolumna"
            "titulosTerceracolumna";

        position: relative;
        left: 50%;
    

        .empresaTitulos {
            position: relative;
            left: 15%;
        }

        .titulosPrimeracolumna {
            position: relative;
            left: 30%;
            top: 15%;
            text-align: center;
        }

        .titulosSegundacolumna {
            position: relative;
            left: 30%;
            top: 10%;

            h1 {
                position: relative;
                bottom: 100%;
            }

            h3 {
                text-align: center;
            }
        }

        
    }*/

    /***********************************************************************************************/
    /*******************************MAIN de la pagina ROH******************************/
    .titularRoh {
        display: flex;
        justify-content: center;
        position: relative;
        left: 40%;
    }

    .containerRoh {

        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
            "titulosrohPrimeracolumna"
            "titulosrohSegundacolumna";
        display: flex;
        flex-direction: column;
        position: relative;
        left: 40%;
    }

    /***********************************************************************************************/
    /*******************MAIN de la pagina otraspromociones******************************************/
    .titularOtraspromociones {
        display: flex;
        justify-content: center;
        position: relative;
        left: 15%;
    }

    .containerOtraspromociones {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "titulosOtrosprimeracolumna"
            "titulosOtrossegundaacolumna"
            "titulosOtrosterceracolumna";
        display: flex;
        flex-direction: column;
        position: relative;
        left: 15%;
    }

    /***********************************************************************************************/
    /*******************************MAIN de la pagina Historia**************************************/
    .containerHistoria {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;

        grid-template-areas:
            "main"
            "footer";

        .liderazgoNakamura {
            position: relative;
            top: 130px;
            left: 50px;

            .parrafos {
                display: flex;
                flex-direction: column;

                h5 {
                    font-weight: bold;
                    position: relative;
                    top: 10px;
                    font-size: 1.2rem;
                }

                p {
                    font-size: 1.2rem;
                }

                .imagenNakamura {
                    position: relative;
                    bottom: 70px;
                    width: 300px;
                }

                .liderOkada {
                    position: relative;
                    bottom: 50px;
                    width: 300px;
                }

                .iframeJaygedo {
                    position: relative;
                    top: 2px;
                    left: 25%;
                }

                .iframeWill {
                    position: relative;
                    top: 2px;
                    left: 25%;
                }

                .iframeSHO {
                    position: relative;
                    top: 2px;
                    left: 25%;
                }

                .iframeBestfriends {
                    position: relative;
                    top: 2px;
                    left: 25%;
                }
            }
        }
    }

    /************************************************************************************************/
    /**************************MAIN de la pagina miembros actuales y antiguos****************************/
    .tituloGrupo {
        position: relative;
        left: 100px;
    }

    main {
        .contenedor {
            display: block;
            .row {
                .col {
                    .card {
                        /*position: relative;
                        left: 50%;*/
                        background-color: $bg-color-card;



                        .card-title {
                            font-size: 1.2rem;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }




    /**************************************************************************************************/
    /**************************MAIN de la pagina subgrupos*********************************/
    table.table-dark.table-striped {
        width: 500px;

    }

    /**************************************************************************************************/
    /**************************MAIN de la pagina Contacto**********************************************/

    .tituloContacto {
        display: flex;
        justify-content: center;
        position: relative;
        left: 15%
    }

    form {
        .form-group {
            .form-control {
                margin-bottom: 10px;
                background-color: plum;
                font-family: $letra-campo-formulario;
                font-size: 1.2rem;
                width: 500px;

            }

            .opinion {
                background-color: plum;
                font-family: $letra-campo-formulario;
                font-size: 1.2rem;

            }
        }

        .btn {
            .btn-primary {
                width: 50%;
            }
        }
    }

    /**************************************************************************************************/
    /**********************************FOOTER de todos los html*************************************/
    footer {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 150px;
        width: 179%;

        .contenedorRedes {
            position: relative;
            top: 10px;
        }
    }



    /***********************************************************************/
}