$bg-color-pagina: #f9484a;
$gradiente:linear-gradient(315deg, #f9484a 0%, #fbd72b 74%);
$letra-campo-formulario:'Times New Roman', Times, serif;
$bg-color-rojo:red;
$bg-color-card-trofeos: transparent;
$bg-color-card: black;
@import "body.scss";
@import "navbar.scss";
@import "mainfooterpaginas.scss";
@import "mediaquery.scss";